[2019-10-18 19:17] codyoss commented on #198
Closing for now as some examples were added. If we need more please feel free to reopen with a more specific use-case. Thanks for the report!

[2019-10-18 19:17] #198 closed

[2019-10-18 19:18] codyoss commented on #193
Hey @cjcjameson, is this still an issue for you in the new world of modules?

[2019-10-18 19:21] codyoss commented on #327
Closing this as it seems to be a dup of #190 . Conversation for this will now happen there.

[2019-10-18 19:21] #327 closed

[2019-10-18 19:23] codyoss commented on #190
I agree that this seems like something we should do. I would be willing to look at PR for this. Types might add a bit of noise if always there. Could hide that info behind a verbose flag as well... If you liked this issue feel free to share your thoughts.

[2019-10-18 19:34] codyoss commented on #153
@ChuntaoLu is this a common pattern you use? I had never seen an anonymous struct returned until just now 😸

[2019-10-18 19:43] codyoss commented on #324
Thank you @MattNolf for your detailed report, that is very useful. I will look into this...

[2019-10-18 19:47] codyoss commented on #319
@ghostsquad would you consider this a dupe of #190?

[2019-10-18 19:52] codyoss commented on #318
Hey @greyireland sorry you thought there were too many flags. I think they are at least all pretty well documented. If you find that we could add some better docs please open another issue that is focused on an area we could improve.

[2019-10-18 19:52] #318 closed

[2019-10-18 19:53] codyoss commented on #311
Closing due to no response recently. Please feel free to reopen if you would like to respond.

[2019-10-18 19:53] #311 closed

[2019-10-18 19:55] codyoss commented on #310
@powerman is this that modules might have solved?

[2019-10-18 19:57] codyoss commented on #307
Hey @lucbarr thanks for the report. Can you provide a small file that is able to reproduce this?

[2019-10-18 20:00] codyoss commented on #303
Closing this for now because of no response and I am not sure about compatibility with cgo.... If you do respond with an example though feel free to reopen this!

[2019-10-18 20:00] #303 closed

[2019-10-18 20:03] codyoss commented on #298
Hey @syifan thanks for the report!

[2019-10-18 20:11] codyoss commented on #297
I will check this out, I assume it is a limitation of reflection though...

[2019-10-18 20:22] codyoss commented on #272
Closing due to age with no response. If you would like to put an example up on Github please feel free to reopen!

[2019-10-18 20:22] #272 closed

[2019-10-18 20:25] codyoss commented on #264
Closing due to age with no response. Please feel free to reopen if you have more details to share!

[2019-10-18 20:25] #264 closed

[2019-10-18 20:39] rkpatel7 commented on #331
I can go ahead and update the documentation to reflect what the code is actually checking.

[2019-10-18 20:45] codyoss commented on #331
That would be awesome @rkpatel7, the issue is yours!

[2019-10-18 22:33] ghostsquad commented on #319
@codyoss I think so

[2019-10-18 22:39] rkpatel7 commented on #331
Thanks @codyoss! Hopefully my suggested update improves the clarity of the documentation.

[2019-10-18 22:55] codyoss commented on #319
@ghostsquad awesome, I will close this one so we can have a more focused conversation on the older issue. I would like to see this feature get some attention as well!

[2019-10-18 22:55] #319 closed

[2019-10-19 14:16] adithya66 opened #335 "Not working with Go modules"
Suppose, i have a go.mod file with some package name

#go.mod
module example/examples

For local packages, mocked file is generated with

import (
    x "."
)

instead of

import (
    examples "example/examples"
)

[2019-10-19 19:35] mbyio commented on #206
TBH this was so long ago, I'm not sure I can give a good example anymore. I'll close this and reopen if it comes up again.

[2019-10-19 19:35] #206 closed

[2019-10-21 05:26] bj-wangjia opened #336 "permission denied on mac version 10.15"
error permission denied   occured when run gomock
stack like this:
 panic(0x481a500, 0xc00023e208)
  	/usr/local/Cellar/go/1.12.9/libexec/src/runtime/panic.go:522 +0x1b5
  github.com/agiledragon/gomonkey.modifyBinary(0x445a840, 0xc0000ef064, 0xc, 0xc)
  	/Users/wangjia/go/pkg/mod/github.com/agiledragon/gomonkey@v0.0.0-20190517145658-8fa491f7b918/modify_binary_darwin.go:11 +0x198
  github.com/agile

[2019-10-22 21:54] #332 closed

[2019-10-22 21:57] codyoss commented on #336
Hey @bj-wangjia did you figure this out? It seems to me less of a gomock issue and more of a local permissions issue on your machine.

[2019-10-22 23:23] #331 closed

[2019-10-24 02:43] codyoss commented on #330
Closing due to lack of a response. Please feel free to reopen something if you are still having trouble.

[2019-10-24 02:43] #330 closed

[2019-10-24 02:45] codyoss commented on #335
@adithya66 can you please provide a little more detail, including the command you ran. I am confused by what your issue is.

[2019-10-24 07:21] preslavmihaylov opened #339 "Mocking net/http RoundTripper with mockgen outputs an error"
How to reproduce:
1. Go to any project with go modules
2. Run `mockgen -destination=mockhttp.go -package=mockhttp net/http RoundTripper`

Detailed steps:
[code]

Result:
[code]

The output file is still generated and looks correct, though.
<details><summary>mockhttp.go</summary>
<p>

[code]

</p>
</details>

If the executed command is:
[code]

There is no error and the output file is the same

Rep

[2019-10-24 08:47] adzimzf opened #340 "flag option for exclude private interface"
I have a shell script that will scan all git changes, then generate it under `mocks` directory.
But, I have a problem with a private interface that returns a private variable. The private variable still generated, I wonder is there any way to exclude a private variable within `mockgen`.

[2019-10-25 01:13] codyoss commented on #339
@preslavmihaylov I just tried to reproduce this in https://github.com/codyoss/bar No error for me. Can you provide more details?

[2019-10-25 02:26] codyoss commented on #207
I ran the above code and the generated mock is now `func (m *MockHelloClient) EnglishHello(arg0 context.Context, arg1 *proto.HelloReq, arg2 ...grpc.CallOption) (*proto.HelloResp, error)`. Closing as this appears fixed.

[2019-10-25 02:26] #207 closed

[2019-10-25 02:31] codyoss commented on #204
This has been documented more clearly now. Closing. Feel free to reopen if the docs don't cover this adequately. Thanks for the report!

[2019-10-25 02:31] #204 closed

[2019-10-25 02:33] codyoss commented on #340
Hey @adzimzf can you please provide a small code snippet and the command you are running to generate your mock?

[2019-10-25 02:44] codyoss commented on #267
I think we should move this discussion to #190 @briantkennedy. It is not exactly the same, but I image the solution to one, could solve the other. It would be nice to collect these under one issue. If it is okay with you I would like to close this issue and move discussion there. WDYT?

[2019-10-25 03:33] codyoss commented on #275
I second what @victor-rt said, a build tag is probably the best thing you can do as of right now. I will dig more into this eventually.

[2019-10-25 03:34] codyoss commented on #325
For now, a workaround would be to add a build tag to your test file. Such as `// +build ignore`

[2019-10-25 03:43] adzimzf commented on #340
Hi @codyoss below is my code
[code]
it'll generate mock for all interface that changed.

[2019-10-25 05:23] preslavmihaylov commented on #339
[code]

[2019-10-25 06:06] var23rav commented on #275
My point was different, Of course, to do the test we may need mock.

We need to ensure the existing code doesn't have any error, consider you defined a package with the interface and there is some compilation error that exists in the code.

For that you have to compile the code, it can try `go test` or `go run` any command.

 "If you feel so generous and try to execute mockgen on top a package wit

[2019-10-25 15:41] codyoss commented on #339
@preslavmihaylov I also tried your steps and no error for me. Just worked. Can you give me your `go version` and `go env`

[2019-10-25 18:11] briantkennedy commented on #267
Yes, you're right, both of these sound like they should be solved together.  Let's make sure this case is captured there as well so both can be addressed when the time comes.

[2019-10-25 18:29] codyoss commented on #190
Another usecase from #267

Example:

--- FAIL: TestNilVsEmpty (0.00s)
    example_test.go:24: Unexpected call to *mock_example.MockThing.Apply([0xc0000900a0]) at /usr/local/google/home/briankennedy/golang/work/src/github.com/briantkennedy/mockbug/pkg/mock_example/mock_thing.go:39 because:
        Expected call at /usr/local/google/home/briankennedy/golang/work/src/github.com/briantkennedy/mockbug/

[2019-10-25 18:30] codyoss commented on #267
I put your use case in that issue. Closing so we can have a unified discussion there. Thanks!

[2019-10-25 18:30] #267 closed

[2019-10-26 14:00] preslavmihaylov commented on #339
go version:
[code]

go env:
<details><summary>go env output</summary>

[code]
</details>

[2019-10-26 17:39] powerman commented on #310
Nope, nothing changes, issue still actual in current master.

[2019-10-27 16:37] codyoss commented on #339
I am sorry I am still on able to reproduce this. I will leave it open though to see if anyone else can. Only thing I can think of is if the version of mockgen is actually older and not actually located in `$GOPATH/bin/mockgen`. If you do a `which mockgen` is it actually found at  `$GOPATH/bin/mockgen`? You could also try `got get -u` to make sure you are pulling in the latest. I wonder if install

[2019-10-28 05:03] cjcjameson commented on #193
Sorry, haven't come across this recently, so a little stale. Should I try
with a more recent version of Golang, or is it the more recent version of
`mock` that I should try?

On Fri, Oct 18, 2019 at 12:18 PM Cody Oss <notifications@github.com> wrote:

[2019-10-28 06:12] preslavmihaylov commented on #339
To make sure I'm using latest version I tried git cloning `https://github.com/golang/mock', and manually building mockgen from there:
[code]

It still outputs the same error.

In the error, there is a line `open /usr/local/Cellar/go/1.13/libexec...`.

Perhaps this has something to do with go being installed via brew or Mac installer?

[2019-10-29 21:35] lucbarr commented on #307
I don't have the files anymore, and the error didn't happen again. I'm closing this, thanks for the willingness, fellows.

[2019-10-29 21:35] #307 closed

[2019-10-30 10:39] kirk91 commented on #310
I also have the same problem, and use `-self_package` parameter to solve temporarily.

[2019-10-31 03:16] codyoss commented on #310
Thanks, I will look more into this.

[2019-10-31 03:19] codyoss commented on #336
Closing as I don't believe this is a problem with gomock.

[2019-10-31 03:19] #336 closed

[2019-10-31 03:42] codyoss commented on #339
Maybe, my installation is from golang.org/dl. If I clone master, use the same build command, it works for me.

[2019-10-31 04:06] codyoss commented on #193
If you have time to try a more recent version, of mockgen, that would be great! I tried to reproduce this but was unable to. I have seen some other issues that make me think it has something to do with the fact the install is via homebrew... I will try to look into this more myself as well.

[2019-11-02 14:55] jesselang commented on #104
Hey @codyoss. I saw the "good first issue" label, and thought I'd have a look. What's the work to be done here? Here's what I see when I run `go vet` and `golint` against `master` branch today:

[code]

[2019-11-02 17:30] codyoss commented on #104
@jesselang thanks for your interest! I would say for now we can ignore anything in internal and sample, as I don't think the vet reports matter there as much and I would eventually like to get to some refactoring in that package. Other than that I would say the rest are fair game to update.

[2019-11-02 18:23] codyoss commented on #339
I was able to reproduce this after I installed go via brew... will try to look in further later. I _assume_ so env var needs to be properly set to make this all happy, but I am not sure.

[2019-11-05 20:26] linzhp opened #342 "-self_package does not work when -package is different from the base dir of package path"
# Steps to reproduce:

1. Clone git@github.com:linzhp/go_examples.git to GOPATH
2. Run `mockgen -package core -self_package github.com/linzhp/go_examples/interfaces github.com/linzhp/go_examples/interfaces Methods`

# What do I expect:
The generated mock should not import `github.com/linzhp/go_examples/interfaces` because it is specified in `-self_package`

# What do I see instead:
[code]

[2019-11-05 21:57] codyoss commented on #339
My best advice here is to install Go from https://golang.org/dl/ instead on Homebrew. This seems like an issue related to how Homebrew links some dirs on install or improperly setting environment variables. After I reinstalled from the link above everything just works. Closing as I don't think this is a problem with the actual project.

[2019-11-05 21:57] #339 closed

[2019-11-08 02:32] bj-wangjia commented on #336
![image](https://user-images.githubusercontent.com/12318167/68444716-a2125a00-0212-11ea-9430-9b00095f02d1.png)
I found the same problem on stackoverflow https://stackoverflow.com/questions/58481800/cause-permission-denied-while-execute-golang-syscall-mprotect
But I don't know what should I do

[2019-11-08 06:45] azeezolaniran2016 opened #344 "Not working with Private go modules"
I'm running into issues trying to mock interfaces from a private go module

For example:

[code]

returns:

[code]

I'm able to run `go get` successfully on this repositories, and I've added the repository to my list of `GOPRIVATE` repos

[2019-11-10 21:31] #137 closed

[2019-11-10 21:32] codyoss commented on #139
Closing, please reopen if you have an example to share.

[2019-11-10 21:32] #139 closed

[2019-11-10 21:35] codyoss commented on #328
Closing due to lack of response. If you want to submit an example and reopen, feel free.

[2019-11-10 21:36] codyoss commented on #335
Closing due to lack of response. Please feel free to reopen if you can provide some more details.

[2019-11-10 21:36] #335 closed

[2019-11-11 11:47] azeezolaniran2016 commented on #344
Sorry about this issue, was my mistake. I had a typo in the package name.

[2019-11-11 11:47] #344 closed

[2019-11-12 02:13] zagrev commented on #275
Here is the issue in a nutshell.

1. I mocked the interface, generated my unit tests using the mocks and everything works.
2. I change the interface because that happens when I develop code. Not the mock code won't compile because the interfaces are wrong.
3. Run mockgen to create new mock code with the right interface. Wrong! The mocks won't generate because the existing code doesn't compile.

Ho

[2019-11-12 15:52] Tatskaari opened #346 "Deadlock when using testing.T and goroutine"
# Current state
The gomock framework causes a deadlock when a call is made on a mock from within a goroutine when using testing.T as the TestReporter. This is because testing.T.FailNow() can't be called from any goroutine that's not the main test routine. If it is, that goroutine will exit and may cause hard to diagnose deadlocks in your code.

Here is an example "baz" service that depends on a "f

[2019-11-16 01:31] veqryn opened #347 "mockgen stopped working after upgrading to Golang 1.13"
We run gomock/mockgen inside of a docker container.  Previously that docker container was based on golang 1.12, but we upgrade it to 1.13 today.
After upgrading to golang 1.13, mockgen started failing out:

[code]

Our project has several golang modules it depends on that are private, with the obfuscated `https://github.com/xxx/zzz` being one of them.  We use `go mod vendor` to commit them to the

[2019-11-17 05:52] rpoletaev opened #348 "How can i fill the passed argument?"
[code]
How can i write mock for Fill func?

[code]
Thanks

[2019-11-20 07:15] lihroff opened #349 "How to spy a function ?"
Currently, gomock can do like this:
[code]
to mock the function return or behavior. but,

Question: Can I use something just like `spy` to record mock function calls?

[2019-11-20 16:53] codyoss commented on #347
I will look into this, thanks for the report

[2019-11-20 16:54] codyoss commented on #342
Thanks for the report, I will check out your PR soon here!

[2019-11-20 16:56] codyoss commented on #346
Thanks for the report I will look into this

[2019-11-20 17:19] #147 closed

[2019-11-24 13:46] pavelz opened #350 "mockgen segfaults macOS 10.13.6 go 1.13.1 with signal ?"
tried to get back trace with gdb to no avail:
[code]

[2019-11-26 03:20] lihroff commented on #349
`AnyTimes()`, `Times()` make gomock monitor the invoke times. It's panic an error if It's not matched.

[2019-11-26 03:20] #349 closed

[2019-11-27 12:05] Menouer opened #351 "Custom Matcher"
Hi,

I want to validate only subfields of an object, sadly i did not find a way to do this using gomock. Is there  a way to create a custom matcher ? for example passing a fonction `f(interface...)  bool` that will contain the logic ?

If not is there any way i can do this using gomock ? :)

Thanks !

[2019-11-27 17:32] codyoss commented on #350
Can you please provide a small snippet with instructions of how to reproduce this issue?

[2019-11-28 11:28] Menouer commented on #351
Given the added tags i assume i was not clear in my first post. Let's try again :D.

Let's say i have a struct, this struct has multiple fields and is going to be passed to a method from a mocked service. But sadly within this struck some of the fields are generated "randomly" by another service that is not mocked and should not be.

Now what i would like to do if possible is to validate only a su

[2019-11-28 16:50] ensonic commented on #332
Sorry, but I think this deserves an example. If we continue with the above example,

any function that takes a kafka.Dialer, won't take my kafka.DialerIface. So defining the interface type won't help.
Maybe it should be called out very explicitly that this approach only works for a small subset of go librarys that expose interfaces, right?

[2019-11-28 19:50] pavelz commented on #350
![image](https://user-images.githubusercontent.com/74142/69829541-77278e80-1231-11ea-938f-a13f90466493.png)

[2019-11-28 19:58] codyoss commented on #350
Did you install go with Homebrew? I have seen some issues with users that have, and installing with the official installer fixes the issues. Have not figured out what it is about the Homebrew install yet...

[2019-12-01 22:50] Infiniverse commented on #262
+1

[2019-12-02 00:05] rubens21 commented on #351
It may be useful to you,

[code]

If you need an accurate error message, you may improve it to store an error message after the function be called.

[2019-12-02 00:32] rubens21 opened #352 "Avoiding import cycle in packages with more than 1 interface"
I am creating a package that contains two interfaces, and one of them uses the other one.
Example:
[code]
I have tested several options to avoid import cycle, but all of them bring me some issues:

# Option 1
including the mocks in test files
[code]
### Problem
The mocks are not shared with other packages in my project.

# Option 2
Keeping the mocks in other libs and writing tests files in the sam

[2019-12-02 15:49] kainobor commented on #53
If you'll read documentation, you'll see that: "-imports string (source mode) Comma-separated name=path pairs of explicit imports to use."
As result, you can use smth like this:
`mockgen -source yourfile.go -package packageName -imports packageName=github.com/yourname/project/path/packageName -destination packageNametest/mock_youfile.go`

[2019-12-03 03:18] Groxx opened #353 ".Return() mutates its caller's slice"
https://github.com/golang/mock/blob/112dfb85f71efc679eef2a9763162fa83fbee449/gomock/call.go#L184

If someone uses Return with an interface slice, like `.Return(rets...)`, this line mutates the caller's slice.  **How** it mutates it is semi-harmless, but rather importantly this means tests that share a return slice for convenience can encounter order-dependent behavior and race conditions:

[code]

[2019-12-03 08:57] pavelz commented on #350
installed with go get. Running dlv I get an error as well:
[code]

[2019-12-03 11:15] rshah-sb commented on #262
+1

[2019-12-03 13:54] Menouer commented on #351
That is exactly what i wanted, Thanks you ! :)

[2019-12-06 15:49] nguyenfilip commented on #275
@codyoss @zagrev  @HeinOldewageRetro I think this bug is no longer in master. It was 'fixed' by  #299 that was merged since version 1.3.1. Previously we used NeedCompiledGoFiles [0] but now that "Need value" is no longer used during package parsing. I just checked the reproducer provided by @zagrev with [1] and it works for me.

[0] https://godoc.org/golang.org/x/tools/go/packages#NeedCompiledGoFi

[2019-12-10 15:00] henry-jackson commented on #347
@veqryn , did your team ever find a solution to this, or did you just stay on Go 1.12? I am experiencing the same issue you are describing

[2019-12-10 20:30] veqryn commented on #347
Stayed on golang 1.12 for now

[2019-12-11 15:15] Rossiar commented on #250
@codyoss @poy any plans to work on this soon? I've just spent half a day debugging a `-self_package` issue and it was all because I was pulling master and not the latest release (1.3.1)

Right now on master the `README.md` tells users to run:
[code]
These commands will just install the latest code from `master` - which right now seems to come with a bunch of unwanted side-effects (as I've found ou

[2019-12-11 15:26] nguyenfilip commented on #250
@Rossiar I can look a bit more into this. @codyoss let me know in case you already have some ideas how to implement this. Otherwise I will do some research so that both `go get` and direct binary usage works reasonably.

[2019-12-13 13:17] tocrafty opened #354 "mockgen always tries to pull latest version instead of required version(go.mod without vendor) in docker golang:1.13"
docker image: golang:1.13
go version: go1.13.5
gomock version: all after v1.1.0
gomock work mode: reflect mode

However, in OSX, without docker, mockgen works well with go.mod. Very strange!

[2019-12-13 20:42] codyoss commented on #353
I am not sure there is a good solution for this. If you read the comment above that block of code this is done for a reason. Thoughts?

[2019-12-13 20:51] codyoss commented on #351
Thanks @rubens21 for helping out!

[2019-12-13 20:51] #351 closed

[2019-12-13 20:52] codyoss commented on #350
I meant is your version of go installed with Homebrew, sorry.

[2019-12-13 20:53] #49 closed

[2019-12-13 20:55] codyoss commented on #193
Closing, can't reproduce. If this become a problem again and you have a sample to reproduce this feel free to reopen.

[2019-12-13 20:55] #193 closed

[2019-12-13 20:59] codyoss commented on #275
Thanks for investigating, closing.

[2019-12-13 20:59] #275 closed

[2019-12-13 21:02] codyoss commented on #250
I know some libraries just have a constant string that gets exposed. We could write a release script that automatically bumps it, etc. I have no strong opinions.

[2019-12-14 02:08] jesselang commented on #104
Solved in #345. I think this can be closed.

[2019-12-14 03:36] #104 closed

[2019-12-14 14:54] JCzz opened #356 "mockgen outputs a True file - how to silence / stop generating this file"
Hi

I have a perfect mock generated, but it outputs a "True" file. Is it possible to silence this?

I just expect it to be a log, saying everything went ok.

[2019-12-15 15:29] pavelz commented on #350
no it was not.

[2019-12-16 16:25] codyoss commented on #356
Hey, I am not sure I follow what you are saying. Could you give a small example? What do you mean by 'True file'?

[2019-12-16 16:29] codyoss commented on #350
I don't have this version of the OS installed. But what I tried to test on, 10.14.6, seems to work fine. Adding a help wanted label on as this is hard for me personally to debug. If we could reproduce this in an environment that is easier to test against that would be helpful.(Docker, etc)

[2019-12-18 02:33] Groxx commented on #353
That seems to just be intending "convert concretes to the intended interface", not "mutate the caller's var to match the mock expectations".

Though I suspect it'll break someone's tests, if they're doing value-equality: is there a reason this can't just be done to a new slice?  e.g. at the beginning, `rets := append(make([]interface{}, 0, len(rets)), rets...)` would make this go away since you'd

[2019-12-19 12:54] nguyenfilip commented on #347
@veqryn  @henry-jackson I think this is caused by the fact that 1.13 [by default enables module aware behavior ](https://golang.org/doc/go1.13#modules)  Under the covers, mockgen runs `go build`. And since you are invoking the mockgen in a directory with `go.mod` the executed `go build` command starts resolving the module dependencies. When I try `go build` with 1.12, it does take vendor directory

[2019-12-19 13:41] nguyenfilip commented on #296
@Logibox I made a small fix to address the -build_flags behavior.

@amuttsch  has the workaround with `-build_flags=-mod=vendor` worked in your case? If yes I will consider to add automatic fallback to run _module download mode_ `vendor` if default download mode fails.

@soniah It would be great if you provided some more details about issues you are running into with `gomock` and modules. I can tr

[2019-12-19 20:21] cvgw opened #358 "Create issue and pull request templates"
Add at least one issue template for Bug type issues (link to the [one in Kaniko](https://github.com/GoogleContainerTools/kaniko/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) as an example)
Could also add one for Feature Requests and general questions

Add a template for pull requests

[2019-12-19 20:23] cvgw opened #359 "Add contributing doc"
Add a doc and link it in the readme which contains information about how to contribute to this project. It should include any necessary information about CLAs as well.

[2019-12-19 20:31] cvgw opened #360 "Add repo automation via bots"
I suggest we add the following bots
* [delete merged branches](https://probot.github.io/apps/delete-merged-branch/)
* [triage new issues](https://probot.github.io/apps/triage-new-issues/)
* [close issues after no response](https://probot.github.io/apps/no-response/)
* [comment on issues which are blank or haven't filed out the template](https://probot.github.io/apps/request-info/)

If some of thes

[2019-12-19 20:31] cvgw commented on #360
cc @codyoss

[2019-12-19 21:07] cvgw commented on #360
Also [closing stale issues and pull requests](https://github.com/apps/stale)

[2019-12-20 08:09] veqryn commented on #347
I believe i tried using that flag and had some problems getting it to work. I can try again this weekend and report the results.

We run `go mod vendor` manually on our laptops whenever we update our dependencies, which is not often.

We run `mockgen` whenever we update any of our many interfaces, including the ones in generated files (from protobuf definitions).  This happens all the time, which

[2019-12-20 08:18] nguyenfilip commented on #347
@veqryn Ok makes sense, thanks for explaining.

The workaround also assumes that you run the mockgen from the directory where the `vendor` folder and `go.mod` are located.

[2019-12-20 08:21] veqryn commented on #347
That might be why it didn't work. Our `go.mod` and `vendor` directory are both in the root folder of the project, while mockgen is being run by golang files with `go generate` directives in them, spread deep across the project.

[2019-12-20 09:29] nguyenfilip commented on #347
If you run the mockgen in the context of a module (in any subdirectory of the root directory) it should work.

[2019-12-20 10:18] nguyenfilip commented on #250
My suggestion of how to address this is in  #362 . Since most of the people use `go get` I think we can continue supporting that workflow. Version information is available if _module aware mode_ is used. In GOPATH mode I suggest we print a warning message for the users informing them they are running some random version of the binary.

I think exposed constant string is a little bit of a hassle. L

[2019-12-20 15:29] codyoss commented on #358
Fixed by #361

[2019-12-20 15:29] #358 closed

[2019-12-20 15:59] codyoss commented on #360
I would really like to get some of this automation in place too. I will have to ask around a bit though as to rules for adding bots to this org. I assume we have to jump through some extra hoops.

[2019-12-20 16:00] cvgw commented on #360
Ahh didn't even think about whether bots would have to be added to the org. I know there is some similar automation that other projects are using in the org so if we can't use these bots maybe we can utilize what others are.

[2019-12-20 16:06] BradErz commented on #250
to be perfectly honest the way we implement this for our services is

`Makefile`
[code]

`cmd/app/main.go`
[code]

[2019-12-20 16:10] islishude commented on #320
relates to #365

[2019-12-20 16:22] codyoss commented on #360
Yeah, I would think at the bare minimum we could make use of the one already around.

[2019-12-20 17:05] codyoss commented on #360
As for the bots suggested in this post:

1. delete merged branches
  - This is just a setting in Github now, I have turned this on.
2. triage new issues
  - I am not sure this one could provide too much value. I think this is valuable maybe only for feature requests? And I have added to the template auto tag that one. Auto tagging bugs I intentionally left off as in my experience many issues are o

[2019-12-21 10:41] JCzz commented on #356
@codyoss  I will close this, my mistake - I found that it was in my script!
Thanks for you replay

[2019-12-21 10:41] #356 closed

[2019-12-22 17:11] powerman opened #369 "Race between Controller.Call and Call.Return"
**Actual behavior** A clear and concise description of what the bug is.
[code]

**Expected behavior** A clear and concise description of what you expected to happen.
I expect not to have race conditions in gomock. :smile:

**To Reproduce** Steps to reproduce the behavior
From test, run some code which uses mocked object in parallel goroutine, then try to setup next EXPECT()ations in main test goro

[2019-12-22 17:48] ZergsLaw opened #370 "Generates non-compilable code"
I only need to document one specific parameter in the interface, an example:
[code]

**Actual behavior** Generates non-compilable code, sample:

[code]

**Expected behavior** I expected to see that result.
[code]

**To Reproduce** Steps to reproduce the behavior

1.  Write interface:
[code]
2.  Generate mock.

**Additional Information**

-   gomock version or git ref: 1.3.1
-   golang version: 1.1

[2019-12-22 17:49] ZergsLaw commented on #370
If necessary, it would be my great pleasure to send PR

[2019-12-25 20:10] CssHammer commented on #266
@Helvind have you found the solution?

[2019-12-27 16:00] cvgw commented on #370
Thanks for the bug report @ZergsLaw. Feel free it submit a PR if you'd like, otherwise we will addresses this as soon as possible.

[2019-12-27 16:08] #320 closed

[2019-12-27 16:55] codyoss commented on #342
I don't think there is an issue here, or at least not with the example you have given. In this example your interface returns a struct, `Info`, from the `core` package. Because of this, the mock must include `	interfaces "github.com/linzhp/go_examples/interfaces"`

The output that makes this required:

[code]

Thoughts?

[2019-12-27 17:09] cvgw commented on #291
As a note, this is unrelated to concurrency. I can reproduce this with a trivial example without concurrency.

[2019-12-27 18:49] cvgw commented on #348
Hi @rpoletaev

I think one option would be to use `*Call.Do` [godoc](https://godoc.org/github.com/golang/mock/gomock#Call.Do)

[code]

[2019-12-27 18:54] cvgw commented on #352
@rubens21 is this using `-source` mode?

[2019-12-27 18:57] rubens21 commented on #352
No, I was not using source mode.
But I don't think it would affect the final result. Would it?

[2019-12-27 21:36] cvgw opened #373 "Integrate benchmarks with CI"
*Requested feature* A clear description of the desired feature and an example of
how it would be used.

Benchmarks should be run and have some kind of assertion/validation during CI

*Why the feature is needed* A clear description of how this feature is not
served by existing functionality in gomock.

To ensure that there are no major performance regressions

*(Optional) Proposed solution* A clear

[2019-12-27 22:53] cvgw commented on #352
@rubens21 is using source mode an option for you?
Using source mode plus the flags `self_package` and `package` I can generate code that correctly specifies `DoSomething() A` rather than `DoSomething() foo.A`

[2019-12-27 23:10] rubens21 commented on #352
Would it be correct?
I mean, whatever is using the mock will expected `foo.A`, not `mock.A`.
I will test it out and answer you here.
Thank you, though

[2019-12-27 23:11] rubens21 commented on #352
Never mind, both interfaces would be identical anyway :p I will try.

[2019-12-27 23:16] cvgw commented on #352
Sorry, I should have been more clear. My above suggestion was assuming you put the mocks in `pkg Foo`. So at that point `A` would indeed refer to `foo.A`

[2019-12-31 00:26] #370 closed

[2019-12-31 16:16] codyoss commented on #258
Hey @vaidya-yd & @jgimeno did you ever find a solution to this? It sounds to me like a local env issue.

[2019-12-31 16:39] codyoss commented on #298
Hey @syifan just had a chance to look into this. It appears to me that this is no longer an issue. I am going to close this for now. If you are still having issues please feel free to reopen the issue and please create a small repo to show me how to better reproduce this.

[2019-12-31 16:39] #298 closed

[2019-12-31 18:43] rubens21 commented on #352
Hi @cvgw , sorry for late response.

I tested your suggestion, but `mockgen` is creating the mocks as expected in all attempts.
It imports the original package **only** when the second interface requires it (e.g. as an argument).
And it makes sense. The interface B needs to refer to the original package anyway.

I created a demo repo at https://github.com/lugobots/demo-issue-mocks to show how I am

[2020-01-01 16:42] linzhp commented on #342
This is only true when the mock is going to be compiled in a different package. However, the intention here, by specifying `-self_package github.com/linzhp/go_examples/interfaces`, is to generate the mock and compile it as part of the package `github.com/linzhp/go_examples/interfaces`. In other words, the mock and `Info` will be in the same package, so I don't want the import `github.com/linzhp/go

[2020-01-02 16:35] cvgw commented on #352
@rubens21 I apologize for the confusion; I think the examples in that repo are different than what I was suggesting. My suggestion was to do something like this
`mockgen -package=bar -destination=bar/mocks1.go -source=bar/interfaces.go -self_package=mydemo/bar`

Perhaps I am misunderstanding your goal. My impression is that you want to generate the mocks in such a way that
1. You don't need to put

[2020-01-02 16:45] rubens21 commented on #352
oh, I see.
Yeah, but the question was kind of a request for a suggestion regarding best practices.
As you see, the option 4 was doing that. However, since the file does not the `_test` suffix, I believe it will be part of the compiled package.

It is not a big issue, that's actually how I am doing it in my projects, but I don't know if it is idiomatic.

Thank you for you help, though .

[2020-01-02 16:54] cvgw commented on #352
@rubens21 I'm sorry I may be confused, did you mean option 5 in your original comment? Neither of the option 4 you shared write the mocks to the src package.

And I do think it's idiomatic; any thoughts on why it wouldn't be? I don't think I've ever seen a case where the mocks wouldn't be part of the final compilation.

[2020-01-02 17:03] cvgw commented on #352
Though, thinking about it now `mockgen -package=bar -destination=bar/mocks1_test.go -source=bar/interfaces.go -self_package=mydemo/bar` might allow the mocks to be excluded from the final compilation. Not sure if that is more idiomatic though.

[2020-01-02 17:06] rubens21 commented on #352
Thank you.
Good to know it is not a bad practice.
Yeah, I was talking about the option 5.

The problem with having the mocks in a test file (`_test`) is that I cannot use the same mocks to test other packages.

Thank you again, @cvgw
Can I close the question? The questions is answers from my perspective.

[2020-01-02 17:10] cvgw commented on #352
Ya, feel free to close. Thanks for opening this issue; I'll add any issue to include some more info on how to best handle these kinds of scenarios.

[2020-01-02 17:12] cvgw opened #377 "Update docs with best practices for advanced mocking"
We should update the docs to include best practices for how to handle advanced mocking scenarios like those mentioned in #352

[2020-01-02 17:50] #352 closed

[2020-01-03 18:08] codyoss commented on #369
Hey @powerman,

Would you mind providing a basic example of how to reproduce this. I was unable to trip the race detector with the information provided.

[2020-01-03 19:00] codyoss commented on #342
Thanks for the clarification. I did not realize the import path did not match package name

For now as a workaround this should work:
`mockgen -package core -self_package github.com/linzhp/go_examples/interfaces -source=types.go`

Still thinking about the change, just want to make sure if does not break other things.

[2020-01-03 19:08] linzhp commented on #342
Yes, source mode works as a workaround. However, source mode is slower under [bazel_gomock](https://github.com/jmhodges/bazel_gomock) rule, as it requires constructing a GOPATH in the sandbox.

Thanks for looking into this.

[2020-01-05 05:17] hgl commented on #262
@poy @balshetzer

I'm struggling to test the following scenario with `Do()`:

Say my function `foo()` calls two mocked method `.F1()` and `.F2()`, I want to test the argument passed to `.F1()` is the same as the one passed to `.F2()`

[code]

This obviously won't work. Any good way to test this right now or the new matchers can help with that?

[2020-01-07 10:48] iDevoid opened #379 "can't generate mock with import tag versioning"
**Actual behavior**
[code]

**Expected behavior** it should generate the mock

**To Reproduce** Steps to reproduce the behavior

I am using `"github.com/savsgio/atreugo/v10"` for my http router
with interface
[code]

it seems that gomock doesn't recognize the tag versioning, so it results as panic because there is no `atreugo` inside of my imports.

**Additional Information**

-   gomock version:

[2020-01-07 15:23] nguyenfilip commented on #250
@BradErz yeah. there are basically 3 ways to implement this:

1. build flags
2. constant string in code
3. exposing module metadata

In  #362 I am leaning to exposing the module metadata. For the exact reason you mentioned - we do not distribute binary itself.

[2020-01-07 15:23] nguyenfilip commented on #347
@veqryn any update?

[2020-01-07 15:35] nguyenfilip commented on #354
@tocrafty  That sounds that you invoked the `go run` in a different directory than in the one that contains `go.mod`

Can you share a reproducer? There are many edge cases to using mockgen with modules. And the behavior is quite subtle (especially when you are not explicitly setting the `GO111MODULE` might change in the future)

[2020-01-07 17:09] Rossiar commented on #250
If this solution works [as you say](https://github.com/golang/mock/pull/362#discussion_r363798455) in #362:

And I can run
[code]
and it will install the latest released version into my `$GOPATH/bin` and not the HEAD of master then I am happy.

Can you clarify that this is the behaviour once `v1.3.2` is released?

[2020-01-08 01:11] veqryn commented on #347
Sorry, holidays got in the way. Will try soon

[2020-01-08 09:12] nguyenfilip commented on #250
@Rossiar thanks for checking in. Yes that is the behavior I want to introduce. If you will run the command

[code]

You will be (after `v1.3.2`) able to use `-version` to verify the version.

[2020-01-10 18:03] codyoss opened #380 "Fix testcase: dot_imports"
**Actual behavior** A clear and concise description of what the bug is.

diff after running `go generate ./...`

**Expected behavior** A clear and concise description of what you expected to
happen.

No diff

**To Reproduce** Steps to reproduce the behavior

1.  `go generate ./...`

[2020-01-10 18:04] codyoss opened #381 "Fix testcase: import_source"
**Actual behavior** A clear and concise description of what the bug is.

diff after running `go generate ./...`

**Expected behavior** A clear and concise description of what you expected to
happen.

No diff

**To Reproduce** Steps to reproduce the behavior

1.  `go generate ./...`

[2020-01-10 18:05] codyoss opened #382 "Fix testcase: test_package"
**Actual behavior** A clear and concise description of what the bug is.

diff after running `go generate ./...`

**Expected behavior** A clear and concise description of what you expected to
happen.

No diff

**To Reproduce** Steps to reproduce the behavior

1.  `go generate ./...`

[2020-01-11 01:31] cvgw commented on #353
That seems pretty reasonable to me.

I think you're pointing out that it would be a breaking change for the following use case?
[code]

[2020-01-11 02:01] cvgw commented on #346
I'm having a hard time coming up with a solution that doesn't involve `panic` and doesn't involve changing the API for tests.

If there was a reliable way to tell whether we are running in the main test thread we could `panic` only when we are in a subroutine

[2020-01-11 02:04] cvgw commented on #346
It would be great if we could do something channel based (or something like that)

I'm not sure how we would package the API but something like
[code]

[2020-01-12 16:44] nhoclove commented on #297
Is it possible to let us provide mock struct name when generating mocks for interfaces ? That way we can decide which mocks are exported/unexported.

[2020-01-12 19:01] #380 closed

[2020-01-12 19:01] #381 closed

[2020-01-12 19:01] #382 closed

[2020-01-12 19:22] codyoss commented on #379
Sounds like this could be a dupe of #326

[2020-01-12 19:26] codyoss commented on #297
@nhoclove I would probably be resistant to this. I think the flag situation is already a little out of hand. If you don't want mocks exported in a public api I suggest using build tags to hide them or an internal folder.

[2020-01-12 19:43] codyoss commented on #379
Going to close this one so we can keep discussion in one stop. There is a workaround for this. In your code you can alias your import: `import atreugo "github.com/savsgio/atreugo/v10"`

[2020-01-12 19:43] #379 closed

[2020-01-13 04:43] codyoss opened #384 "Add a CONTRIBUTING.md"
It would be nice if we spelled out what a contribution should look like to this repository. One specific that should be highlighted is a formal process about adding more test cases for generated code. Current examples can be found under `gomock/internal/tests`.

[2020-01-13 23:13] linzhp commented on #244
I also don't want mockgen to follow alias. We are generating Bazel [gomock](https://github.com/jmhodges/bazel_gomock) rules, and have a hard time in figuring out the dependencies of generated mocks because it may import something that the mocked package does import directly.

[2020-01-14 04:12] codyoss commented on #342
Fixed with #343.

[2020-01-14 04:12] #342 closed

[2020-01-14 04:35] codyoss commented on #252
You are right the default is not great. An option here might be to default the package name to `<CURRENT_PACKAGE>_test` if both source and dest files are in the same location. That was we don't change peoples imports with the current behavior, but we give people code that will compile if they attempt to generate in the same directory as the source.

[2020-01-14 16:18] linzhp commented on #244
Also, [go.uber.org/cadence/encoded.Value](https://godoc.org/go.uber.org/cadence/encoded#Value) is an alias of type in its internal package. When mockgen follows aliases, the generated mock will depends on `go.uber.org/cadence/internal`, which is not allowed in Go

[2020-01-14 16:21] linzhp commented on #244
@codyoss thoughts on this?

[2020-01-14 17:25] mirogta opened #386 "Make reflect mode support -destination"
*Requested feature*

The source mode supports the `-destination` parameter.

This parameter is not flagged in the documentation as `(source mode)` only, so it looks like it's possible to use it for the *reflect* as well. However it does not work. When I add the `-destination` parameter for the *reflect* mode then it fails with an error: "Expected exactly two arguments"

*Why the feature is needed*

[2020-01-14 23:10] codyoss commented on #244
I agree with the intent of this issue, and this is how is actually does work in source mode. I have not looked into the complexity of the issue, but at least there is a workaround for now. I will turn this into a feature request.

[2020-01-15 02:44] codyoss commented on #36
Closing this issue for now, as since this issue was opened a lot has changed, including docs. If there are specific things people would like better explained I would like to create smaller targeted issues.

[2020-01-15 02:44] #36 closed

[2020-01-15 03:11] codyoss commented on #46
Hey @adone, I realize this is an old issue, but I was wondering if you could provide a small example of what the issue is here and what you expect. If this is still an issue, I would like to get it resolved.

[2020-01-15 03:14] codyoss commented on #71
This seems reasonable. We are open to PRs :smile_cat:

[2020-01-15 03:20] codyoss commented on #144
mockgen does work with alias, but I think only correctly with source mode. This feature request is being tracked in #244. I am going to close this one for now as the other has more active discussion talking place. If there is more to be said, lets say it over there.

[2020-01-15 03:20] #144 closed

[2020-01-15 03:25] codyoss commented on #233
This feature has been added with #236

[2020-01-15 03:25] #233 closed

[2020-01-15 04:09] codyoss commented on #384
Dupe of #359

[2020-01-15 04:09] #384 closed

[2020-01-15 04:14] codyoss commented on #7
I am not against this idea, but I would love to hear what others would expect to see here.

[2020-01-15 04:17] codyoss commented on #310
Sorry I slipped on following up on this. I will check it out soon.

[2020-01-15 04:25] codyoss commented on #340
I would say for now if you only want a certain mock generated use reflect mode. In the future I would like the two modes to behave more similar(or there only need to be one way that just works). Closing for now.

[2020-01-15 04:25] #340 closed

[2020-01-15 04:57] codyoss commented on #200
I don't think we will be moving forward with this at this time. The complexity vs the what needs to be done otherwise is not worth the trade-off imo. Also, `//go:generate` directives directly in your code might make this seem a little more maintainable.

[2020-01-15 04:57] #200 closed

[2020-01-15 20:59] codyoss commented on #310
So there are four test cases here. Here are my thoughts on each.
Example commands run. Each run with the file contents you provided. Also, the folder is a module `example.com/gm310`. Also also, I have gomock built off master which does have some more fixes in it around `self_package`:
- `mockgen -package gm310 -self_package=example.com/gm310 -source=/home/codesworth/scratch/gm310/gm310.go -destina

[2020-01-15 20:59] #310 closed

[2020-01-15 21:03] codyoss commented on #386
You have to specify destination before package and Interface. Example: `mockgen -destination=path/to/mock/foo_mock.go example.com/foo Bar`

[2020-01-15 21:03] #386 closed

[2020-01-16 08:31] powerman commented on #310
@codyoss I'm not sure I get it. I've reported issue when running without `-self_package`. You've tested with `-self_package` and closed the issue. What's the point? Is it means running without `-self_package` is not supported/recommended outside of GOPATH? Why don't set default value for `-self_package`?

[2020-01-16 14:30] mirogta commented on #386
Thanks for clarification. I can confirm that if I put the `-destination` parameter first then it works OK.

Would it make sense to clarify this in the error message and documentation perhaps? Maybe the "Expected exactly two arguments." is a bit misleading? It didn't help in my case and led me to a wrong conclusion, because I actually needed to pass three arguments.

[2020-01-18 18:34] cvgw commented on #346
relevant issue https://github.com/golang/go/issues/15758

[2020-01-18 18:39] cvgw commented on #346
It may be possible to do something similar to the http2 pkg in order to track the main test routine https://github.com/golang/net/blob/2491c5de3490fced2f6cff376127c667efeed857/http2/gotrack.go#L22

[2020-01-18 20:20] cvgw commented on #346
The more I think about it the more building some kind of test wrapper seems like a really good idea.

1) `T.Fatal`, `T.FailNow`, etc shouldn't be called in a goroutine and that probably will never change
2) Calling panic is non-optimal as it prevents other tests from running

A test wrapper could look something like this
https://play.golang.org/p/NXGIGTlK7fv
[code]

The only other option I can thi

[2020-01-20 19:21] #326 closed

[2020-01-20 19:56] codyoss commented on #386
Yeah, it is a bit confusing you are right. We have some issue to get some better docs and samples out in the future. Let me know if you have more questions in the future.

[2020-01-20 20:00] codyoss commented on #310
Sorry you are right, I did get a little mixed up here. I still do think the only real issue is the first case though. I also agree it would be great if `self_package` was not needed, but right now it is. That is why it does exist. I do have plans in the future to obsolete this flag, but for now it is around for a reason.

[2020-01-20 23:09] XSAM opened #388 "Use "." to refer to the current path's package in reflect mode"
# Introduction

I use `go:generate` in my source code to invoke `mockgen` to generate mocked interfaces.

e.g.

[code]

But it's too annoying that every time I have to write and check the package name (github.com/xxx/xxx/pkg/xxx).

And add the full package name in a source file is kind of duplicated information since *golang* could parse the file path and get the package name.

# Feature request

[2020-01-21 07:31] tocrafty commented on #354
This is a test to reproduce the bug.

[mockgen_test](https://github.com/tocrafty/mockgen_test) is a simple project with only one golang interface `III` which has two methods `g()` and `f()`. There are two commits in master branch. The commit before master has only one method `f()`.

To mock the interface `III`, I start a new project with two files:
[code]
and
[code]
`make no-docker` gives `ok`(it

[2020-01-21 13:35] jcxplorer commented on #328
I'm assuming what @liamylian meant, is that the generated code uses empty interfaces as argument types for the MockRecorder methods. Compare the argument types in the Mock and MockRecorder methods:

[code]

In the MockRecorder methods, both arg0 and arg1 are empty interfaces, but it would be nice to have them as `(arg0 context.Context, arg1 string)` as in the real method (first method in the examp

[2020-01-22 03:09] codyoss opened #389 "allow version flag to work when built with goroleaser"
**Actual behavior** A clear and concise description of what the bug is.

When building locally unable to retrieve a version. This makes it hard should we want to publish pre-built binaries.

[code]

**Expected behavior** A clear and concise description of what you expected to
happen.

`mockgen -version` outputs version info.

-   gomock version or git ref: v1.4.0
-   golang version: 1.13.6

[2020-01-22 03:45] codyoss commented on #347
@veqryn still having issues?

[2020-01-22 09:54] nguyenfilip commented on #389
@codyoss what are the commands that you use to get mockgen? This is what I get:

[code]

[2020-01-22 09:59] Rossiar commented on #250
[code]
LGTM - @codyoss I think this can be closed

[2020-01-22 10:42] nguyenfilip commented on #354
I can reproduce this. Let me look into this.

[2020-01-22 11:55] nguyenfilip commented on #354
Let me layout the root cause of the bug. I don't have a fix yet - I need to think a bit more what approach to take.

When we are reflecting a module/package (in your case mockgen_test) we are running so called  `prog.go` program. There are possibly several attempts to run `prog.go` program in different directories. The first attempt is to run it in the the same directory as the input package (here

[2020-01-22 15:52] codyoss commented on #389
Sorry, you are right that does work. The use case I ran into was for us publishing prebuilt binaries. Updated initial steps. Thoughts?

[2020-01-22 15:53] #250 closed

[2020-01-22 16:30] nguyenfilip commented on #389
What are the steps that you use to prebuild binaries? I will check if we can build in a way that it includes the module info. As a sidenote: As I mentioned in the description of #362, the best way to support prebuilt binaries woudl be to combine the current approach with build flags (`-ldflags`). Note that the build flags approach is useful only for prebuild binaries. It would not help at all when

[2020-01-22 17:55] codyoss commented on #389
Good point on the ldflags. That would work fine. I will using goreleaser to make the binaries. That does allow for custom flags to be sent through. `goreleaser release --skip-publish --skip-validate --rm-dist` is the command I used locally to do a dry run that builds the binaries. Note there is a small bug in the config right now I noticed when I was playing with it last night. If we could just up

[2020-01-23 09:05] nguyenfilip commented on #389
@codyoss I will check the goroleaser. It would be nice if we mitigated a need for build flags

[2020-01-23 17:42] cvgw commented on #388
This seems like a reasonable a useful feature, I'm +1 for adding this.

@nguyenfilip @codyoss WDYT?

[2020-01-23 22:28] spastukhov opened #391 "gomock.GotFormatterAdapter doesn't work for variadic function"
**Actual behavior** A clear and concise description of what the bug is.
When configured for variadic functions GotFormatterAdapter is not invoked.

**Expected behavior** A clear and concise description of what you expected to
happen.
"Got" values are formatted by provided GotFormatterAdapter

**To Reproduce** Steps to reproduce the behavior
[code]
Output:
[code]

**Additional Information**

-   go

[2020-01-24 00:22] sonofachamp commented on #297
It seems including the `-source` flag will generate mocks for unexported interfaces.

[2020-01-24 11:53] nguyenfilip commented on #388
@cvgw Yeah seams reasonable

[2020-01-24 12:54] veqryn commented on #347
@nguyenfilip @codyoss
Adding `--build_flags="--mod=vendor"` works when run manually from my terminal.  But it doesn't work with go generate for some reason.

Examples:

Here is the go generate line in my file:
[code]

When run:
[code]

If I run `go generate` without the mod build flag, it doesn't even get to mockgen before it fails:
[code]

If I remove the build flags from the mockgen line, here i

[2020-01-24 16:50] codyoss commented on #391
Thanks for the report we will look into this.

[2020-01-26 05:21] marten-seemann opened #393 "Why are imports not formatted with goimports?"
I'm wondering why the imports are not formatted according to `goimports`. When I open a mock file with my editor, it would automatically rearrange the imports, and then I have to revert this change before committing.

Considering that there exists a standard format how to arrange import paths, would it make sense if mockgen already arrange the import statements in that order?

[2020-01-28 02:49] nicesj commented on #324
Dear all,
Unfortunately, I have this issue.
Do you have any updates?

[2020-01-30 06:15] veqryn commented on #347
I also tried with single quotes, such as: `--build_flags='--mod=vendor'`
This does not work, and gives the same error when run with go generate: `can't load package: named files must be .go files: '--mod=vendor'`

[2020-01-31 14:46] nguyenfilip commented on #347
@veqryn  I think that the correct combination of flags for you is to have --mod=vendor in BOTH:

- your .go files as directives. This will make sure that the mockgen uses the `vendor` directory when generating mocks
- your go generate command. This will make sure that go generate will use `vendor` for dependencies

I think that the root cause of your problem is the same as for issue #354. In a nut

[2020-01-31 21:04] veqryn commented on #347
Since it requires a private repo, that is censored, it is probably not possible for me to provide a live reproducer.

What do you mean by having --mod=vendor in `your .go files as directives` ?
Do you mean like my example above, with it in the go:generate line?

[2020-02-02 16:32] #388 closed

[2020-02-02 22:03] cvgw commented on #324
I don't think this one is fixable as comparison of functions has no guarantee at the language level in Golang.

I propose that passing a function argument to a mocked method should panic.

Instead, the correct usage should be with `gomock.AssignableToType` which currently works.

There is no way to reliably compare functions so this should result in an error IMO.

@nguyenfilip @codyoss WDYT?

See

[2020-02-03 10:35] nguyenfilip commented on #324
@cvgw I agree, this would be very hard to support. Panicing sounds like the best short term behavior change.

[2020-02-03 10:38] #354 closed

[2020-02-03 10:39] nguyenfilip commented on #354
@tocrafty can you now retest with the latest mockgen?
[code]

[2020-02-05 20:59] #389 closed

[2020-02-05 21:00] codyoss commented on #393
Seems reasonable to me.

[2020-02-06 15:51] tocrafty commented on #354
@nguyenfilip Seem not work. mockgen v1.4.0 still tryies to pull the latest version, not th version required in go.mod.

[2020-02-06 16:21] nguyenfilip commented on #354
@tocrafty Sorry I meant if you can try with master:

[code]

[2020-02-06 16:32] tocrafty commented on #354
It worked. Thanks.

[2020-02-11 16:30] tylersammann commented on #262
@hgl I think there might be a way to do something similar to this with `.Do()`, but it would involve storing the arguments used in both `F1` and `F2` and comparing them afterwards. FWIW, here is how I think I'd do with with my argument captor implementation from this PR  https://github.com/golang/mock/pull/263

[code]

[2020-02-14 11:07] stevendanna commented on #156
We've recently hit what I believe is a similar bug to this when trying to use mockgen on a protobuf generated go file that includes a streaming client.  After looking at the code, I believe I know the root cause of the bug:

The inclusion of a streaming client forces mockgen to parse the grpc package for the interface definition:

https://github.com/golang/mock/blob/master/mockgen/parse.go#L259

D

[2020-02-17 08:43] plakhotnii opened #396 "Improve performance of generation"
After fixing problem with imports that includes the major version (#326) there are serious performance penalty.
To optimise process of getting correct packages names we can call `go list` command for all imports in file instead of calling it for each import independently.

Time consuming by mockgen:

Source mode
[code]

Reflection mode
[code]

In this example with sample package performance did no

[2020-02-18 12:21] jcxplorer commented on #328
Hi @codyoss, any thoughts on what I commented above? Still willing to provide a PR if you think this is something that makes sense, and which has a good chance of getting merged!

[2020-02-18 17:41] codyoss commented on #396
Thanks for the feedback, I will look at the PR sometime soon :)

[2020-02-18 18:15] slon opened #399 "Source mode build without dependency on x/packages."
*Requested feature*

Source mode build without dependency on x/packages.

*Why the feature is needed*

Currently, mockgen invoked in source mode is relying on x/packages for determining import path of input file. That works fine with build systems that support x/packages driver. Unfortunately, or internal build system does not provide such driver, and implementing full blown driver is not that eas

[2020-02-19 03:56] codyoss commented on #46
Closing due to lack of response. Please reopen if later if you are interested in this again.

[2020-02-19 03:56] #46 closed

[2020-02-19 03:57] codyoss commented on #258
I am going to close this due to inactivity. If it pops up again lets open a new issue and investigate with fresh data.

[2020-02-19 03:57] #258 closed

[2020-02-19 17:35] #399 closed

[2020-02-20 06:58] Katiyman commented on #156
My protoc version is 3.11.2 and grpc is 1.27.1 but i am facing same issue

[2020-02-20 21:26] thaney071 opened #400 "Unexpected call errors should print test name from test object when available."
When an unexpeced call occurs, the message should include the test name if set.

When writing test, my team often makes test that loop over test cases and uses setup functions to define the mock behavior of each test case. This means when a test runs any unexpected call does not give feedback on what test specificly had the unexpected call. Just the line number does not give enough context.

An ex

[2020-02-21 04:40] arjunsingri opened #401 "imported package collision: "backoff" imported twice"
**Actual behavior** A clear and concise description of what the bug is.
When I run mockgen for my pb.go files, I get the error below:

`2020/02/20 16:29:15 imported package collision: "backoff" imported twice`

**Expected behavior** A clear and concise description of what you expected to
happen.
No error is generated and the mocks are generated as well.

**To Reproduce** Steps to reproduce the beh

[2020-02-21 23:19] codyoss commented on #401
Could you please provide us a small code snippet of what a `file.pb.go`  looks like so I can try to reproduce this?

[2020-02-21 23:53] codyoss commented on #400
Hey, I can see how that could make debugging hard. I might offer you a suggestion on a slightly different way of structuring your tests.

https://github.com/golang/mock/blob/master/mockgen/mockgen_test.go#L106-L112

If you use `t.Run` for subtests your test failures should report nicer.

Let me know if this does not work well for you.

[2020-02-21 23:59] codyoss commented on #369
Closing this for now due to lack of response. Please feel free to reopen with more info. Thanks.

[2020-02-21 23:59] #369 closed

[2020-02-22 07:38] codyoss commented on #156
@stevendanna I would accept a PR that trys to make this better :smile_cat:

[2020-02-22 07:39] codyoss commented on #401
Closing this as a dupe of #156. Lets move all relevant discussion there.

[2020-02-22 07:39] #401 closed

[2020-02-22 11:16] micharaze opened #402 "EXPECT uses always first return value when used AnyTimes()"
**Actual behavior**
When I am using the following line multiple times with different return objects then the mocked function returns always the object like expected:
[code]
But if I change the Times() call to AnyTimes(), then it returns always the first given return object:
[code]

**Expected behavior**
I expected, that it should return the new set return object like it is doing on the first examp

[2020-02-22 18:44] codyoss commented on #402
If I had to guess without looking at the code I would say it is because AnyTimes() is greedy. There is no reason for it to move on to the second mock because nothing new has changed and the first EXPECT is still doing its work. I believe this is expected behavior. Thoughts?

[2020-02-22 18:47] codyoss opened #403 "Return last call for InOrder"
The following changes InOrder to return the last called Call. This
allows a more fluent design when using InOrder, things can be better
chained together and allows composing of numerous InOrder calls.

Example:
[code]

Body here copied from #199

[2020-02-22 18:55] codyoss opened #404 "fix callserrors with empty msg"
Check exhaustedNum and callsErrors.len() , if it's true, fill with error msg

There is a case where `matches` will return nil for an ordering error.
e.g.
[code]
This will produce an error message with no additional information following `because: ` (as reported in the issue)

`err` will always be nil https://github.com/golang/mock/blob/1bf84fa8d4e5fedaedb9b103bb5b947e25bf5d8e/gomock/callset.go#L85

[2020-02-22 21:34] #396 closed

[2020-02-22 21:45] codyoss commented on #51
I am going to close this out as there is not much actionable to do. @frairon If you would like to open a feature request and take a stab at something the project is always open to PRs 😸

[2020-02-22 21:45] #51 closed

[2020-02-22 22:18] codyoss commented on #328
@jcxplorer Recorders can accept matchers is the reason. Example:

[code]

[2020-02-22 22:18] #328 closed

[2020-02-23 02:46] micharaze commented on #402
In my case I created a sub-function to easily create different test cases. It happens that the mocked function is not called in every case. I don't care how often the function is called, because I'm testing error cases. I wanted to create the mock controller only once and reuse it with every call. But now I have to create a new controller every time.

[2020-02-26 18:29] 13rac1 opened #406 "Document why a user should choose the source or reflect mode"
*Requested feature*

Document _why_ a user should choose the source or reflect mode.

*Why the feature is needed*

The README states:

The CLI help states:

Neither explains which mode a user should choose. Is one faster than the other? Is one more reliable? Are they the same? If so, why do both exist?

This is a follow up issue as requested in  https://github.com/golang/mock/issues/36#issuecommen

[2020-02-27 00:40] codyoss commented on #406
Thanks for opening this issue, I agree this is something that should be addressed. I would like to leave this issue open a bit to collect user experiences. I know there are some edge cases out there that force people into one or the other, and honestly I don't know them all. If you have specific cases you have found please share!

Also, I would like to know these difference so that in the future w

[2020-02-27 18:24] prashantv opened #407 "Use t.Cleanup (added in go1.14) to call `Finish` automatically"
**Requested feature**

Currently, any test that uses `gomock` often has this snippet at the top:
[code]

The caller has to remember to `defer ctrl.Finish()`. This could be avoided if the gomock library supported go1.14's [`t.Cleanup`](https://golang.org/pkg/testing/#T.Cleanup) functionality.

**Why the feature is needed**
It reduces likelihood of the caller forgetting to call `Finish`, and reduces

[2020-02-28 03:58] codyoss commented on #407
I think this is a great idea. I would just want to play around and make sure it behaves well in things like subtests and TestMains.

This change can be made without adding a new constructor. An unexported inferface could be declared:
[code]

Then in NewController you can just use a cast and call if the method is there:
[code]

This would need to be documented but then the surface of the API does n

[2020-02-28 16:13] arjunsingri commented on #156
What are the next steps here?

[2020-02-28 17:57] codyoss commented on #156
@arjunsingri There has been a PR open to support this. In the meantime, as stated in this thread, you should be able to use reflect mode for now.

[2020-02-28 18:15] codyoss commented on #402
This is working as expected. The only way you can you can AnyTimes the same mock is if you use InOrder and have a mock in between:

[code]

[2020-02-28 18:15] #402 closed

[2020-02-28 18:20] codyoss commented on #136
This has not gained much traction and I would like to avoid changing how the modes work at this point. In the future the hope is that the modes will converge.

[2020-02-28 18:20] #136 closed

[2020-02-28 18:34] codyoss commented on #181
I think this is close being done. The test in the package no longer needs `aux_files` at least. I need to do a little more research to know if we can deprecate this for sure.

[2020-02-28 19:48] codyoss commented on #265
https://github.com/golang/mock#modifying-failure-messages I think covers this. @Capstan Thoughts?

[2020-02-28 19:57] codyoss commented on #325
With the latest release this now seems to work. Closing.

[2020-02-28 19:57] #325 closed

[2020-02-28 20:23] prashantv commented on #407
Agree, I was considering the same thing. It does have a small behaviour change in the case that the user was never calling `Finish` intentionally, since now `Finish` will be called automatically in go1.14.

That does seem like an arcane use-case, so I'm +1 on changing the existing API (less changes, and doesn't require changes to existing test code to benefit).

[2020-02-28 21:34] codyoss commented on #53
I believe if we solve #156 in the correct way the example given in this issue should no longer be relevant. As well as most use cases that would require `-imports`. If you are currently using this flag can you please post short snippets of your use case this is helping you solve. I would like to make the use of this flag obsolete if possible in the future.

[2020-02-28 21:37] codyoss commented on #350
@pavelz Can you please try downloading the current releases packaged binaries and see if that fixes your issue? https://github.com/golang/mock/releases/download/v1.4.1/mock_1.4.1_darwin_amd64.tar.gz

[2020-02-28 21:41] codyoss commented on #296
@amuttsch @Logibox @soniah Any updates?

[2020-02-28 21:56] codyoss commented on #238
@poy Did you have examples of options that you would like to see?

[2020-02-28 22:33] #348 closed

[2020-02-28 23:07] codyoss commented on #297
As mentioned, for now the guidance in this case is to use source mode.

[2020-02-28 23:07] #297 closed

[2020-02-28 23:08] codyoss commented on #406
mocking unexported interfaces requires source mode: #297

[2020-02-28 23:15] codyoss commented on #393
@marten-seemann I just took a look quick and it does not appear the goimports has an api we can use unless I missed something in my quick look. To support this we might need to build behavior to mimic how goimports rearranges things. Still a good idea, just had not thought about that initially.

[2020-02-28 23:32] poy commented on #238
A few that come to mind:

* Reversing the order in which mocks are registered (to match gmock for example)
* Reporting styles (verbose vs quiet)

[2020-02-29 00:17] soniah commented on #296
Hi @nguyenfilip @codyoss I haven't looked at this for ages, I'll have to think through the issues and implications. @nguyenfilip I can't remember the issues I was having.

I'm sure you've looked the HEAD of master; FYI mocks are now built into the `mocks` folder and the build command is described in the `README`. But this seems is a different issue.

@Logibox made the following comment earlier in

[2020-02-29 19:27] cvgw commented on #407
Do we consider using gomock without calling `Controller.Finish` a valid use case? I would assume no, that it is a mistake when `Finish` is not called.

This seems like a great change; I forget to call `Finish` all the time!

[2020-03-04 16:28] codyoss commented on #346
Related #145

[2020-03-04 16:40] codyoss commented on #238
Example of an option: #246

[2020-03-04 20:10] codyoss commented on #181
I would love to hear from users here. The tests we currently have in the library that involve `aux_imports` no longer need the flag. If you are currently using this flag and you still need it with the current release, `v1.4.1`, please either comment here or open an issue. I would like to deprecate this flag in a future release and make it a no-op.

[2020-03-06 21:56] codyoss commented on #403
This seems like a reasonable change, but it is breaking so holding off for now.

[2020-03-09 13:28] nguyenfilip commented on #347
@veqryn I have prepared a sample that seems to work (see below). I think that the problem in your case is that your go:generate directive has quotes around the `--mod=vendor` and also maybe you are using old `mockgen`. Try the following with mockgen 1.4.1:
[code]

**The sample**
With the latest gomock (1.4.1) I think I have been able to accomplish what you want, see  https://github.com/nguyenfilip

[2020-03-10 08:16] yonesko opened #408 "Vendor import"
**Describe the Bug**
I have generated a mock and import path in it `"olol-olololol/vendor/go.avito.ru/gl/service-phones-client"`.
The test doesn't compile with error
[code]
**Expected Behavior**
Correct import `go.avito.ru/gl/service-phones-client` with which test is complied.

**Migrate Version**
dev

**Go Version**
go version go1.13.8 darwin/amd64

[2020-03-12 01:25] veqryn commented on #347
It looks like removing the quotes fixed the problem.

I'll do some more testing, and will re-open the issue if any problems come up.

Thank you!

[2020-03-12 01:25] #347 closed

[2020-03-12 01:47] veqryn commented on #347
A few questions:
1. Why would quotes break go generate + mockgen?
2. What if I had multiple build flags (and therefore need quotes)?
3. Should any documentation get updated based on this?

[2020-03-12 02:41] henry-jackson commented on #347
I resolved this issue for myself a couple weeks ago after realizing I somhow had 2 different versions of mockgen installed. I ran `which mockgen` and then removed that file. Running `which mockgen` again showed that another executable file was in my PATH, installed to a different directory. I removed that one as well. Finally reinstalled mockgen according to the README instructions and the tool st

[2020-03-12 16:33] lauatic opened #409 "How to get all the mockgen dependencies in a docker image."
**Actual behavior** A clear and concise description of what the bug is.

I want to build a docker image with this Dockerfile for running the mockgen.  The GOPATH is /go inside the container when I "docker run" the image generated from this Dockerfile.  The issue I'm facing is that it is downloading the mockgen's related dependencies every time I "docker run" the image.  I tried with "docker mod do

[2020-03-12 17:17] codyoss commented on #409
Have you considered just downloading one of the binaries we publish? https://github.com/golang/mock/releases/tag/v1.4.1

[2020-03-12 18:23] lauatic commented on #409
Thanks for your suggestion.  I downloaded the tar.gz file and put mockgen in /usr/local/bin/ directory.  It looks like it is still doing the same "download" dependencies.  Are there other things I have overlooked?
[code]

[2020-03-13 20:47] blico opened #411 "mockgen: prog_only mode ignoring write error"
We are facing an issue where `mockgen -prog_only ...` is exiting successfully, but outputting an empty file.

In our repo's build system (Bazel), the call to `mockgen -prog_only` is a cacheable build action. Not returning a failure in the case mentioned becomes problematic because Bazel caches the build action's output whenever the underlying command succeeds (returned an exit code 0). Meaning whe

[2020-03-13 21:46] codyoss commented on #411
Seems reasonable to me. Thanks.

[2020-03-13 21:49] #411 closed

[2020-03-13 22:43] tartale opened #412 "Ability to generate mocks for multiple packages"
*Requested feature*
Add the ability to generate mocks for more than one package at a time, within one call of the executable.

*Why the feature is needed*
Currently, mock generation is limited to one package per call of the executable.  The initialization of the executable over and over for a large number of packages takes time, and allowing the ability to execute the program once would save time/

[2020-03-16 08:00] nguyenfilip commented on #296
@codyoss @amuttsch @soniah I think this has been fixed by #390 in mockgen  1.4.1. There was a similar problem described in another bug #347 and the OP in that bug confirmed the issue has been fixed for them. In the discussion of the bug I also provided some sample reproducer that shows correct behavior of mockgen+vendoring with mockgen 1.4.1

[2020-03-16 08:00] #296 closed

[2020-03-18 12:13] orian commented on #296
The problem is still there, I'm running mockgen:

`mockgen -source external.go -destination mocks/mock.go -build_flags=-mod=vendor` and it persistently trying to fetch the packages (and fails cause some are private).

[2020-03-18 14:31] codyoss commented on #296
@orian What version are you using? `mockgen -version`

[2020-03-18 20:32] orian commented on #296
`v1.4.3`

[2020-03-18 21:40] codyoss commented on #296
@orian Could you open up a new issue and detail a small example of how to reproduce.

[2020-03-19 11:24] Callisto13 opened #415 "go generate fails to mockgen on go 1.14"
**Actual behavior**.

On go 1.14.

Running `go generate ./...` when the `vendor` dir is present fails with:

[code]

(I am guessing this is because `mockgen` depends on some runtime thing being there which would not be included when vendoring.)

We saw this appear after bumping to go 1.14. On go 1.13.x `go generate` ran fine.

**Expected behavior**

My mocks should be generated and no error should

[2020-03-20 16:56] danielo515 commented on #265
well @codyoss not completely.
It can not be used with calls to expect, it doesn't implement the required interface:

[code]

[2020-03-22 19:37] codyoss commented on #408
Thanks, for the report. Could you please provide a small sample to show how to reproduce this?

[2020-03-22 19:47] codyoss commented on #415
Please update your generate command to look like this: `//go:generate go run github.com/golang/mock/mockgen --build_flags=--mod=vendor -package mocks -destination=./mock_dinos.go -source=../dinosaur/dinosaur.go`

Notable added: `--build_flags=--mod=vendor`.

That did the trick for me /w the latest mockgen and 1.14 :smile:

[2020-03-22 19:53] codyoss commented on #412
As you pointed out a good way to get around this is by using `go generate` directives in multiple files. Another way, that would operate similar to your suggestion, would be to just wrap the generation is a script and generate all of the files.

[2020-03-22 20:06] codyoss commented on #409
I guess I am having a hard time understanding what problem you are having. Can you give me step-by-step what you are doing and what you expect? Thanks.

[2020-03-23 08:42] Callisto13 commented on #415
Afraid that doesn't work for me @codyoss, running `go generate ./...` still results in:

[code]

sorry, I should have mentioned that `--build_flags=--mod=vendor` was the first thing I tried.

[2020-03-23 11:55] maelvls commented on #415
Thanks for the minimal working example, @Callisto13! Helped me a lot when I tried reproducing the issue.

TL;DR: Go 1.13 and below would still pick up from the cache even when `vendor/` was there. With Go 1.14, any Go command will automatically use `vendor/`. And since `github.com/golang/mock/mockgen` is not imported anywhere, `go mod vendor` doesn't vendor it and `go generate ./...` fails 😔

Afte

[2020-03-23 11:57] Callisto13 commented on #415
Thanks @maelvls!

I experimented with this last week and came to the same conclusion.

Having that fake import is a rather unpleasant hack so I am hoping the folks at gomock can suggest something less awful.

[2020-03-23 15:45] codyoss commented on #415
I am not sure I have a great solution for this. To get the 1.13 behavior I _think_ you have use a `-mod=mod` but I have not had a chance to test this: https://golang.org/doc/go1.14#go-command

You have to pick if you want the go tooling to properly respect the vendor folder, only on partially. I am thinking the former is what most people will want.

With modules I think people are going to find ha

[2020-03-23 18:18] maelvls commented on #415
I just tried the `-mod=mod` solution, it works! For anyone to try,

1. git clone https://github.com/Callisto13/cretaceous && cd cretaceous
2. apply this diff
[code]
3. `go mod vendor`
4. `go generate ./...` should work!

[2020-03-23 18:25] Callisto13 commented on #415
🎉 thanks @codyoss and @maelvls

[2020-03-23 18:25] #415 closed

[2020-03-24 07:07] Krout0n opened #416 "Failed parsing when the parameter type is parenthesized."
**Actual behavior**
`example.go`
[code]

Result:
`Loading input failed: parenthesized.go:4:28: failed parsing arguments: don't know how to parse type *ast.ParenExpr`

**Expected behavior**
The above codes are accepted.
https://golang.org/ref/spec#Types

**Additional Information**
-   gomock mode (reflect or source):
-   gomock version or git ref:
[code]
-   golang version:
[code]

**Triage Notes f

[2020-03-24 17:38] bogatuadrian opened #417 "Add If method on Call for conditional EXPECT"
*Requested feature*
Register an expected call (or not) based on a condition.

Example:
[code]

*Why the feature is needed*
A common use case, especially when table-testing, is to parametrize behaviour. This feature would come in handy when you have multiple expected calls that depend on one another in the tested code. Status quo example:
[code]

It would be cleaner to write:
[code]

Even though th

[2020-03-25 10:15] nguyenfilip commented on #347
@henry-jackson the mockgen now has a `-version` flag that you can use to verify running versin

[2020-03-25 11:23] Willyham commented on #393
I believe that goimports uses this under the hood: https://github.com/golang/tools/blob/a49f79bcc2246daebe8647db377475ffc1523d7b/imports/forward.go#L39 - would that suffice?

[2020-03-25 14:45] codyoss commented on #393
I have not tried it out, but that does look promising.

[2020-03-25 15:04] nguyenfilip commented on #347
@veqryn good questions
1. its the behavior of go generate. `go:generate` directive splits the arguments by space or quotes but doesn't behave like shell (see [design doc for go generate](https://docs.google.com/document/d/1V03LUfjSADDooDMhe-_K59EgpTEm3V8uvQRuNMAEnjg/edit)). The problem with that is, that when you pass in `--build_flags="-mod=vendor"` then mockgen flag `build_flags` value is `"-mod

[2020-03-25 19:50] veqryn commented on #347
I think an error/warning message would be great.
thank you

[2020-03-26 06:17] linzhp opened #419 "Avoid calling go list"
@plakhotnii @codyoss

`go list` is quite slow because it has to download external dependencies. This becomes more problematic under Bazel execution environment when GOCACHE is not available (https://github.com/bazelbuild/rules_go/issues/2366). I found all mockgen need from `go list` is the package path. Why not deduce the package path from source file or directory in mockgen, using logic like:

If

[2020-03-26 14:46] codyoss commented on #419
Hey,

I am not against not using `go list` but using it fixed a couple bugs for use. The advantages we gained by it were:

1. It is module aware.
2. It works for resolving import paths that are as followed: Have an import path of `example.com/foo` but the package in `foo` is actually `bar`.
3. A special case example of #2 is projects that use go modules >v1: import path of `example.com/foo/v2` whe

[2020-03-27 19:00] linzhp commented on #406
At Uber, we call mockgen from [bazel_gomock](https://github.com/jmhodges/bazel_gomock), this is what we found besides what @codyoss said above:

* source mode is very slow mainly due to `packages.Load` call with default goListDriver (https://github.com/bazelbuild/rules_go/issues/2366). #420 improves it
* The output of `mockgen -prog_only` is compiled and linked in bazel_gomock, leading to a very b

[2020-03-28 18:34] codyoss commented on #412
After some more thought I don't think we support this right now for the reasons stated above. If you have more ideas for mock though please don't hesitate to open more issues.

[2020-03-28 18:34] #412 closed

[2020-03-28 18:42] codyoss commented on #416
Seems reasonable, I guess I did not know this was even in the spec, thanks for teaching me something!

[2020-03-28 18:45] codyoss commented on #417
I am not sure if it is cleaner. It does save some lines of code, but in my opinion hurts readability.  I think most developers have trained their eyes to look for conditions, this hides that conditional a little more.

[2020-03-28 18:46] codyoss commented on #393
If this does work, I am open to PRs.

[2020-03-30 04:24] codyoss commented on #350
Closing due to lack of response. Please re-open if this is still an issue /w provided binaries.

[2020-03-30 04:24] #350 closed

[2020-03-30 04:28] codyoss commented on #400
Closing due to lack of response. Please re-open if you are still having issues.

[2020-03-30 04:28] #400 closed

[2020-03-30 14:21] #416 closed

[2020-03-30 19:17] tartale commented on #412
ok - I'm a little confused by the reply, but the suggested workarounds to put the `go generate` directives in multiple files, or to wrap generation in a script are not at all workarounds for the issue I was describing.

To clarify, we have many many packages, and we need to call `mockgen` once per-package.  Each call takes about .5 second to complete, so this extends the build quite a bit.  I'd li

[2020-03-31 17:48] arjunsingri commented on #156
@codyoss

Can you please help me out and explain how to use the reflect mode? The doc says "list of symbols", and I wanted to understand what these symbols are.

[code]

[2020-03-31 17:58] codyoss commented on #156
Symbols == interface names

[2020-03-31 18:53] lwaddicor commented on #377
I'd appreciate some clarity on this as well as I'm having the the same issue as in #352 and currently using the use same package for both interfaces and mock right now.

[2020-04-02 06:39] powerman commented on #352
There is annoying issue with Option 5 (interface, implementation, mock and tests all in same package).

After making some changes to the interface and related changes to it implementation I need to update tests… but at this point tests don't compile because previously generated mock doesn't match current interface anymore. So, I run `go generate`… and it fails because of compilation errors in test

[2020-04-02 10:34] titpetric commented on #282
Seems valid, reopening to evaluate

[2020-04-02 14:38] codyoss commented on #282
Please open a new issue /w new details. I would prefer an issue that has been closed for over a year stay closed. Thanks!

[2020-04-02 14:38] #282 closed

[2020-04-04 20:29] gogetkarthik opened #423 "Not able to generate mocks for vendor interfaces"
**Actual behavior** A clear and concise description of what the bug is.
trying to generate the mocks but failing with following error, my interface is in the vendor folder
`//go:generate mockgen -destination mock_st_core.go github.com/xxxx/Client/hello ClientService`

`prog.go:12:2:` cannot find package "." in:
	Users/pp/go/src/xxxxxxx/vendor/github.com/golang/mock/mockgen/model
prog.go:12:2: cann

[2020-04-05 03:27] gogetkarthik commented on #423
I got this resolved by following
$ go get github.com/golang/mock/gomock
$ go install github.com/golang/mock/mockgen
$go get golang.org/x/tools/go/packages
Ref: #266

[2020-04-05 03:27] #423 closed

[2020-04-06 17:25] #156 closed

[2020-04-06 17:28] #407 closed

[2020-04-06 17:36] linzhp commented on #244
Please make this a configurable flag, so we can choose whether to follow type aliases based on the scenarios. Because of https://github.com/jmhodges/bazel_gomock/issues/10, we rely on type aliases to mock system packages in Bazel

[2020-04-06 18:24] codyoss commented on #244
@linzhp Having this configurable seems seems like a workaround for an issue in the Bazel ecosystem. Do you agree? I don't have great experience with Bazel though, so maybe I am missing something.

[2020-04-06 18:35] linzhp commented on #244
I agree. It's a workaround. However, since this following alias behavior has been there for a while, other code may depends on it, it's probably better to make it configurable to maintain backward compatibility

[2020-04-06 19:43] robbertvanginkel opened #424 "Generate mocks from archives/*types.Type data"
*Requested feature*
Mockgen supports creating `github.com/golang/mock/mockgen/model.Interface` models from `reflect.Type` data using
https://github.com/golang/mock/blob/6d816de489c18a7e9a8fbd2aa5bb2dd75f2bbc86/mockgen/model/model.go#L295

But there is no analogue for creating `model.Interface`'s for mock generation from `go/types.Type` data.

*Why the feature is needed*
The go compiler writes seri

[2020-04-08 02:36] AntonNguyen opened #425 "Unexpected argument errors gives a segfault"
**Actual behavior**
When a mock is setup, but the wrong arguments are passed in, the test should fail with the following message:

[code]

**Expected behavior**
happen.

A null pointer exception!

[code]

**To Reproduce**

When I put a debugger into `controller.go`:
https://github.com/golang/mock/blob/3a35fb6e3e18b9dbfee291262260dee7372d2a92/gomock/controller.go#L198-L202

After `ctrl.T.Fatal` is

[2020-04-08 14:44] codyoss commented on #425
I think we have another issue open for something similar, but I will check later. Thanks for the report.

[2020-04-10 19:37] codyoss commented on #409
Closing due to lack of response. Please feel free to reopen if you can provide more details.

[2020-04-10 19:37] #409 closed

[2020-04-10 19:38] codyoss commented on #408
Closing due to lack of response. Please feel free to re-open if you can share more details.

[2020-04-10 19:38] #408 closed

[2020-04-10 22:27] codyoss commented on #302
I don't think there is an easy way to fix this. For now I am think we will go with no fix.

In general, I would say that is not good to use two layers of mocks at once. In this example I would suggest using a concrete type that implements `Outer`. As presented nothing is really being tested. I would consider re-opening if I was presented with a solid use-case of where mocking mocks provides value.

[2020-04-10 22:27] #302 closed

[2020-04-12 21:41] thynquest commented on #296
Hello
Any updates on this issue?
Thank you

[2020-04-13 14:45] codyoss commented on #296
@thynquest can you provide a small example showing this not working for you. This is a closed issue, so it is not being actively looked at. The original issue has been fixed. Please open a new issue with details to get better traction.

[2020-04-13 14:51] thynquest opened #426 "using vendor folder"
Hello

I am reopening this issue which has already been [discussed](https://github.com/golang/mock/issues/296) without being resolved. Is there a way for mockgen to use then vendor folder instead of downloading the dependencies. In my case I am trying to generate mocks using docker container. so at the end of the dockerfile I have this
`ENTRYPOINT ["sh", "-c", "/usr/local/bin/mockgen -source=${INP

[2020-04-13 15:38] codyoss commented on #426
Before I look more into this, can you please tell me what version of Go you are using and what version of mockgen?

[2020-04-13 15:40] thynquest commented on #426
hello and thank you for your answer
I am using `go version go1.12.9` and `mockgen 1.4.3`

[2020-04-14 21:07] AntonNguyen commented on #425
I was able to solve this issue by having my reporter send a panic:

[code]

Then in my mock setup, I pass in the reporter:

[code]

[2020-04-15 23:27] codyoss commented on #425
I think this is a duplicate of #145. Let me know if you think that is not the case.

[2020-04-16 10:25] nguyenfilip commented on #426
@thynquest what is the working directory when `mockgen` gets run? Is it the same directory where `vendor` resides? I recently created a small sample docker image that uses vendoring here:
 https://github.com/nguyenfilip/mockgen-docker

On top of what you are trying to achieve the example uses `go:generate mockgen`.

Could you provide a running reproducer with sample vendor folder?

[2020-04-20 06:12] jtyers opened #427 "Type-safe return values"
*Requested feature*
I have recently moved from `testify/mockery` to using GoMock for generating mocks, and simply having the mock aware of the types of my calls is great.

However, the arguments for `Return()` are always `interface{}`. Can gomock generate mocks that `Return` with types that match the underlying method?

This would make refactoring existing code a bit easier as invalid types return

[2020-04-23 11:47] powerman opened #428 "panic in test is swallowed if there are failed expectations and t.Cleanup(ctrl.Finish)"
**Actual behavior** A clear and concise description of what the bug is.

If test function setup some `EXPECT()` which wasn't called yet and then it `panic()`, the panic message won't be shown in test output, all I get is `missing call(s) to … aborting test due to missing call(s)` message.

**Expected behavior** A clear and concise description of what you expected to happen.

Panic has to be shown

[2020-04-24 11:00] jtyers opened #429 "EXPECT fails when using type derived from map"
If I derive a type from a core type and use that in my expectations, tests start failing where they didn't before, even where the inputs have not changed. I've only tested this with a `map`.

Below is a complete working test that shows a given input working when I pass a `map` to the EXPECT (and mock), and then when I pass an `M{}`. The inputs stay the same, but the second test fails.

[code]

**A

[2020-04-24 15:05] codyoss commented on #429
@jtyers  Can you please share the versions were this both did and did not work(mockgen)?

[2020-04-24 20:28] codyoss commented on #428
Thanks for the feedback, I agree I think we could do more for the cases where the mocks are not quite setup right. I think there are other related issues here, will link when I re-come across them.

[2020-04-24 21:09] codyoss commented on #424
This is a really interesting use case. I did not knew anyone used this package directly. I will need to research this space a little more and get back to you.

[2020-04-24 21:10] codyoss commented on #425
Closing as duplicate, the issues are linked for context.

[2020-04-24 21:10] #425 closed

[2020-04-24 22:23] jtyers commented on #429
@codyoss sorry, here it is:

[code]

[2020-04-24 22:24] jtyers commented on #429
To be clear I'm not aware of this ever working in mockgen. My reference to "tests failing where they didn't before" is that in the old version of my code, I used `map[string]interface{}` and in the new version, `M`.

[2020-04-24 22:26] jtyers commented on #429
Also of interest may be that if I change the signature to `DoSomething(input M)` the test stlil fails.

[2020-04-24 22:34] codyoss commented on #429
Thank you for all the information that helps! Yes is seems like our type checking might be too strict. My guess with out looking at the code is we need to add some reflect checks around if the type is assignable. I would be glad to accept a PR for such a feature 😸

[2020-04-27 03:37] xtonyjiang commented on #419
It's too bad that in order to get this performance boost we have to not use `go/packages`, since I assume `go/packages` is supposed to allow us to not have to do all this branching logic based on whether we're using modules or not or what Go version we're using, and as a result commit to having to maintain this codepath as the way we build Go code evolves (although I'm not sure how much it'll evol

[2020-05-06 14:12] hsyed commented on #244
The GRPC library has refactored to type aliases delegating to internal packages as well recently. We can't generate mocks anymore.

[2020-05-08 21:22] cvgw commented on #71
Reopening since the fix was reverted

[2020-05-10 00:13] prashantv commented on #346
To check whether we're on the main test goroutine, I have a couple of possible ideas:
 * Track the stacktrace when `NewController` is called, and when a mock fails, check whether the earlier captured stacktrace is part of the current goroutine's stacktrace. If it isn't, then we are not on the same goroutine.
 * Check the goroutine stack for testing function (e.g., `testing.tRunner`), and if we fin

[2020-05-15 21:05] owen-mc opened #431 "Should `Finish` be run in a deferred way or not?"
I noticed that there is a call to `recover` in `Finish` in `/gomock/controller.go`. I've recently learned that `recover` is only useful in a deferred function - outside of them it has no effect [1]. So I checked if `Finish` is called in a defer statement. Your advice was to do that, but then with go1.14+ you said that the user doesn't need to call `Finish` because `gomock` does it for them. That's

[2020-05-18 07:42] tigeran2020 opened #432 "Variadic argument's mismatch message is not reported in right way"
blow is my codes:

[code]

so I want receive an error message like:

[code]

but what i actually see is :

[code]

[2020-05-18 22:03] codyoss commented on #431
These are some good points. Can you please provide a small example of before and after that commit. That feature has not been released yet so if there are some issues I would like to get them sorted out soon. Thanks for the report.

[2020-05-18 22:08] codyoss commented on #432
@tigeran2020 Thank you for the report. I agree, the current message being returned is confusing.

[2020-05-18 22:09] codyoss commented on #426
Closing due to lack of response. Please let me know if you are still having this issue and we can reopen this.

[2020-05-18 22:09] #426 closed

[2020-05-20 08:57] jtyers commented on #351
Stumbled across this issue while looking for a way to do custom matchers. @codyoss could this be added to the README? Would make it much easier to find.

[2020-05-20 15:58] owen-mc commented on #431
I'm afraid I don't have enough context to do that easily because I'm not a user of golang/mock. I was testing out a new check I'd added to a static analyser, and checking whether the hit I got for this repo was a true positive or a false positive. In theory it should be a case of writing a test which panics and trying it out with the old and new style. Looking at the code in `Finish` it seems that

[2020-05-26 17:47] piersy opened #436 "The imports flag has no effect"
**Actual behavior**

Providing explicitly named imports with the imports flag does not affect the generated mock.

**Expected behavior**

I would expect the named imports to be used in the mock.

**To Reproduce** Steps to reproduce the behavior
1. cd to your go installation src dir.
2. Run `mockgen -source=io/io.go -imports foo=io,bar=math   | head -n 15`
3.  Observe the output does not include th

[2020-05-26 17:51] piersy commented on #53
@codyoss I would like to use this flag to name an import whose name conflicts with the package that the mock exists in. Unfortunately the imports flag does not seem to work. See #436

[2020-05-27 09:03] pranay-1995 opened #437 "mockgen failing with error 'Loading input failed: Source directory is outside GOPATH'"
I am trying mock file using mockgen. I installed mockgen with 'go get github.com/golang/mock/mockgen'.

However, mockgen is failing with error,
C:\Users\deshmukh7\go\bin>mockgen.exe -source=C:\Users\deshmukh7\go\src\environment.go
**2020/05/27 14:28:53 Loading input failed: Source directory is outside GOPATH**

Note that environment.go is in GOPATH/src.

C:\Users\deshmukh7\go\bin>go env
set GOARCH

[2020-05-27 11:31] wencan opened #438 "not support multi-path gopath"
My team has not switched to go module.
The value of my gopath contains multiple paths, like this:
[code]
I get an error: "Source directory is outside GOPATH", When I execute mockgen under the project.
I have submitted a new Pull Request #435  to solve this problem.

[2020-05-27 14:56] codyoss commented on #437
Can you please tell me:
- What version of mockgen are you using?(`mockgen -version`)
- What version of Go are you using?
- Are you using GOPATH, or the new modules workflow?

[2020-05-27 14:59] codyoss commented on #436
Thanks for the report, I will look into this soon.

[2020-05-31 14:16] JCzz opened #439 "Calling mockgen from code: exec.Comman... `Loading input failed:..."
github.com/golang/mock v1.4.3

I am calling mockgen from go code and I get the error calling exec.Command:

[code]

`Loading input failed: couldn't exec 'go [list -e -json -compiled=true -test=true -export=false -deps=false -find=false -- /Users/.../helloworld]': chdir /Users/.../helloworld: no such file or directory *os.PathError
`

[2020-05-31 15:17] kozmod opened #441 "Opportunity write interfaces in different packages to single file"
*Requested feature* A clear description of the desired feature and an example of
how it would be used.
It will be nice to save different interface to single file , declaring import paths and interfaces consistently:
[code]
interfaces in `ex ` package
[code]
interfaces in `int2 ` package
[code]
result
[code]

*Why the feature is needed*
It will be convenient store all generated mocks in single file

[2020-06-01 12:22] #439 closed

[2020-06-03 13:40] pranay-1995 commented on #437
2020/06/03 19:08:48 No version information found. Make sure to use GO111MODULE=on when running 'go get' in order to use specific version of the binary.

go version go1.14.4 windows/amd64

I am using GOPATH

[2020-06-12 13:42] codyoss commented on #441
Thanks for the feature request. After some thought I don't think we will be moving forward with this request at this time. I would like to keep the CLI as simple as possible. For cases where you have multiple mocks in different packages I suggest the use of `//go:generate ...` in different package files. The you can run `go generate ./...` to generate all the mocks for your project.

[2020-06-12 13:42] #441 closed

[2020-06-12 13:44] codyoss commented on #438
Accepted, thank you!

[2020-06-12 13:44] #438 closed

[2020-06-12 14:07] codyoss commented on #436
Sorry for the slow response. The imports flag is meant to help generate mocks and not rename imports. It should only be used in cases where mockgen can not detect that a required import is need. From the docs:

[code]

Are you looking for the package flag?

[code]

[2020-06-12 14:10] codyoss commented on #244
This topic requires more investigation as it does not appear to be as straight-forward to me as I once thought.

[2020-06-12 14:23] codyoss commented on #391
Closing this is favor of #432 . Should be fixed by #434

[2020-06-12 14:23] #391 closed

[2020-06-12 14:30] piersy commented on #436
Hi @codyoss thanks for getting back to me.

My initial issue was that my generated mock was importing a package with the same package name as the mock.

E.G:
[code]

I see now that we are using the `-package` flag and so could simply not use the `-package` flag. I would of course have to update all uses of the mock to use the new package name.

I'm wondering how does gomock handle the import of tw

[2020-06-12 14:39] codyoss commented on #436
It will append an increasing number to the name of the second import

[code]

[2020-06-12 14:39] #436 closed

[2020-06-12 14:47] codyoss commented on #437
Does running the following fix the issue for you:
[code]

[2020-06-12 16:36] kozmod commented on #441
👍🏻

[2020-06-13 16:01] wencan opened #446 "Source mode not support embedded error interface"
I have a interface, like:
[code]
When I execute `mockgen PackageName NotFound`, It's OK.
When I execute `mockgen -source xxx.go`, got error:
[code]

 I have submitted a new Pull Request #445  to solve this problem.

[2020-06-13 19:00] sarpdoruk opened #447 "ctrl.Finish() is not called in 1.14+"
It is stated that if go version is 1.14+ and `*t.Testing` is passed into the controller it is not needed to call `ctrl.Finish()`.

**Actual behavior**
Although I'm using `1.14.3`, `ctrl.Finish()` is not called when, considering `Times(x)`, `x` is greater than the actual number calls and results in a successful test. This is not the case when `x` is smaller than the number of calls made then it thr

[2020-06-15 13:03] decanus opened #448 "Explicit Never"
*Requested feature* Add an explicit `never` call expectation.

*Why the feature is needed* It is nice to be able to be explicit about such things.

*(Optional) Proposed solution* - https://github.com/golang/mock/pull/444

[2020-06-15 14:02] codyoss commented on #447
Thanks for the report I will take a look.

[2020-06-15 16:47] JVecsei opened #449 "Concurrent calls with different arguments lead to failing test"
**Actual behavior**

[code]
After mocking like this, I am calling a method, that starts multiple workers.
Problem is now: If the method is called first with the "2", this test fails. I was expecting the order not to matter, since there are dedicated functions for it (`inOrder`, `After`). Somehow this though fails 25% the time telling me first that the method was expected to be called with "1, firs

[2020-06-15 17:27] #449 closed

[2020-06-17 09:03] atthoriq commented on #178
Hi @balshetzer I encountered the same issue. Here are my files.

github.com/project/handler/init.go
[code]

github.com/project/handler/admin.go
[code]

Here's generation
[code]

Here's the output
[code]

i don't know what's wrong with my command. can you help?

[2020-06-17 13:09] codyoss commented on #178
If you are having an issue please open a new issue, this one was closed over two years ago, thanks.

[2020-06-18 12:18] tommyjcarpenter commented on #190
I hit this exact issue today. In my case, I was using a simple type alias `type m bson.M` for brevity, which we do in the codebase, however gomock seems not happy with it.

[2020-06-22 05:07] nuarc opened #450 "Unexpected call to mock.."
Hi,

I have gRPC service ( say svc1) which invokes another gRPC service ( using its gRPC stub say svc2_client)
I have generated client mock for svc2_client, and unit test as per documentation is working fine, which svc2_client is tested using mock generated.

However, i have svc1 as shown below
[code]

**Actual behavior** A clear and concise description of what the bug is.

**Expected behavior**

[2020-06-22 09:52] znjuko opened #451 "Mockgen is running an error while updating to latest version"
**Actual behavior** I was using mockgen v1.0.0 and running `mockgen -source=foo.go` was successful. But know i am getting too many errors like :
`snap/go/5830/src/runtime/panic.go:830:20: invalid operation: shift count i (variable of type int) must be unsigned integer
/snap/go/5830/src/runtime/panic.go:852:34: invalid operation: shift count i (variable of type int) must be unsigned integer
/snap/g

[2020-06-23 09:34] AndersonQ commented on #447
I was about to report this bug.

I did a bit of digging and turns out #422 is merged on master, but is not part of any release, therefore getting the latest as the Readme suggests (`GO111MODULE=on go get github.com/golang/mock/mockgen@latest`) will give you a release without the new feature.

Getting it from master, `GO111MODULE=on go get github.com/golang/mock/mockgen@master` gives you the featur

[2020-06-23 09:36] sarpdoruk commented on #447
Thank you @AndersonQ for pointing that out, appreciated.

[2020-06-23 13:38] codyoss commented on #447
I agree, I will update the readme soon. In the meantime please use `GO111MODULE=on go get github.com/golang/mock/mockgen@v1.4.3`. Still trying to figure out if there is a good way to support #422.

[2020-06-24 04:55] wanfintara commented on #283
Hi, currently I'm getting this error. After execute `go mod vendor` then `go generate ./...`

got this
[code]

but if I delete the `vendor` folder everything works. Do i need run above script sir ??

[2020-06-24 07:40] AndersonQ commented on #447
@codyoss do you need any help? I'm happy to help :)

I'll take the risk and keep with either master and keep an eye to see if I spot any bug :)

[2020-06-25 16:25] #451 closed

[2020-06-28 13:19] kamly commented on #231
i want to know too @eddycjy

[2020-06-30 01:52] ash2k commented on #447
Releasing a new version of the library and documenting that version X or newer is required will probably help to avoid the confusion.

[2020-06-30 03:45] savishy commented on #437
I'm encountering the same error, and adding `GO111MODULE=on` does not fix it.

[2020-07-01 06:01] StuartScott5 commented on #451
I'm getting the same issue. Was there a solution to this one please?

[2020-07-02 18:48] ethervoid opened #453 "Document line for AssignableToTypeOf is wrong"
**Actual behavior** A clear and concise description of what the bug is.

The current example is misleading and doesn't work if you try to use it:

[code]

**Expected behavior** A clear and concise description of what you expected to
happen.

The example should work

**To Reproduce** Steps to reproduce the behavior

1.  ... Just try to use the current example in your code
2.  ...

**Additional Info

[2020-07-03 17:52] #417 closed

[2020-07-10 13:58] #453 closed

[2020-07-10 14:09] #446 closed

[2020-07-10 14:30] codyoss commented on #450
Hey, could I trouble you to provide me with a small example file to reproduce this and the mockgen commands used to generate the mocks.

Thanks.

[2020-07-10 14:33] codyoss commented on #437
@savishy Is `/Users/USERNAME/SOME/DIR/mock` in `GOPATH`?

[2020-07-10 14:42] #432 closed

[2020-07-10 15:06] codyoss commented on #448
This is syntax sugar for `Times(0)`, right? I think is seems equally as explicit.

[2020-07-10 15:11] decanus commented on #448
Yeah it essentially is @codyoss

[2020-07-10 15:18] codyoss commented on #427
Return operates on a `Call` today, which is what is returned by all of stubbed out methods. With how this library is currently designed, I don't this we can accommodate this request. If you have a concrete suggestion about how to implement this please feel free to reopen. Thanks.

[2020-07-10 15:18] #427 closed

[2020-07-10 15:31] codyoss commented on #53
The reason this issue was originally opened for is no longer an issue. The imports flag is not required for this use case. If others have different examples that still don't work please report them as a new issue. Thanks.

[2020-07-10 15:31] #53 closed

[2020-07-10 15:37] codyoss commented on #246
Closing issue as I believe this is captured by #238

[2020-07-10 15:37] #246 closed

[2020-07-11 22:42] kevinmachstudio commented on #451
@znjuko how did you fix this issue?

[2020-07-12 22:52] bradwilzon opened #454 "Add the ability to add latency to mocks"
I have some cases where time comes into play. A recent example:

[code]

I would like to be able to simulate latency during my mocked dep calls to facilitate testing this kind of use case.

### Workaround
Manually mock a dep and use `time.Sleep(x)` in the implementation.

### Request
It would be nice to have something like `dep.EXPECT().Method().Latency(x).Return(nil)` where the recorder just slee

[2020-07-15 13:37] tim-ebert commented on #393
+1 on this
What's the status of this issue?

[2020-07-15 13:38] codyoss commented on #393
It is not being actively worked on, but I would be willing to take a PR for the feature.

[2020-07-15 15:27] tim-ebert commented on #393
Alright.
I just tried it out with @Willyham's suggestion and it seems to be straight-forward.
I will open a PR :)

[2020-07-17 16:12] hardikmodha opened #459 "[Feature Request] Ability to check whether the expectations are met and reset mock expectations"
### Requested feature:
- **Ability to check whether all expectations are met**
Currently, We only have `EXPECT()` which we can use in the user code and the rest (i.e. checking whether all expected calls were made) happens inside the controller. I would like to propose a utility which allows user code to check whether all expectations are met or not. A feature similar to the one which [go-sqlmock](

[2020-07-22 13:08] tommyjcarpenter commented on #266
I am still having this issue and the solution of `packages` did not fix it.

In my case I am trying to bump `quay.io/goswagger/swagger:v0.23.0` to `quay.io/goswagger/swagger:v0.24.0` which leads to ```
# stash.corp.appnexus.com/devops-general/app_flotilla/models
../../models/cluster.go:230:12: undefined: validate.EnumCase
../../models/job.go:142:12: undefined: validate.EnumCase
../../models/job.go

[2020-07-23 23:10] pavan-kw commented on #231
were any of you figure out the issue @kamly @SachinHg @therealdannzor

[2020-07-24 11:50] fefi42 commented on #266
I have the same issue

[2020-07-24 12:11] therealdannzor commented on #231
@pavan-kw In my case, IIRC, it was me not understanding the difference between **loose mocks and strict mocks** and its implications for gomock, which is the latter of the two. Good luck! 😃

[2020-07-24 16:47] skplunkerin commented on #7
I would love this ability. I've been feeling like my mock tests are messier than they need to be. I'd rather they be concise to exactly what I'm testing.

I like the `loose := strict.Dynamic = true` idea, but not if I need to have several lines, setting every single mock to `Dynamic == true`, so if there was a way to specify multiple mocks as dynamic vs not would be ideal. The first suggestion of

[2020-07-26 02:00] codyoss commented on #448
As there is already a way to do this today that seems explicit, as noted above, we will not be adding this feature at this time.

[2020-07-26 02:00] #448 closed

[2020-07-26 02:03] codyoss commented on #450
Closing due to lack of response.

[2020-07-26 02:03] #450 closed

[2020-07-26 14:20] codyoss commented on #431
The cleanup function itself is deferred so this should be okay.

[2020-07-26 14:20] #431 closed

[2020-07-26 14:24] codyoss commented on #437
Closing due to lack of response. If you are still having issues and can provide us with more details we can re-open.

[2020-07-26 14:24] #437 closed

[2020-07-27 08:47] owen-mc commented on #431
If a deferred function calls a function, the state of being in a panic doesn't get carried into that function. It's very easy to misunderstand this, hence why I was adding the check to my static analysis tool. It's hard to explain clearly in words, so here is some example code. Ask yourself if it will print "recovered in a" or "recovered in b".

[code]

It prints "recovered in a" - try running it

[2020-07-28 11:46] fanadol opened #462 "How to combine the usage of GotFormatter and WantFormatter"
Hi, i am having struggle to understand how to print struct in `Want` and `Got` when test fail. In README, i read about `GotFormatter` and `WantFormatter`, i try that, and yes it works for individual. My question is how i combine both in `EXPECT` function ?

lets say i have
[code]

i could do
[code]

But i cannot use both `WantFormatter` and `GotFormatter`.
I want to print `want` and `got` with the

[2020-07-28 20:08] olivierlemasle opened #463 ""go get" does not work anymore: issue with dependency rsc.io/quote/v3"
**Actual behavior** A clear and concise description of what the bug is.

`go get` this project does not work anymore if `rsc.io/quote/v3` is not cached and go proxy is not used.

**Expected behavior** A clear and concise description of what you expected to
happen.

`go get` this project should work.

**To Reproduce** Steps to reproduce the behavior

1.  Clear go mod cache
1.  Execute `go get` with

[2020-07-28 20:12] Warfields opened #464 "Broken dependency rsc.io/quote"
**Actual behavior** A clear and concise description of what the bug is.

[code]
**Expected behavior** A clear and concise description of what you expected to
happen.

Go get to work properly

**To Reproduce** Steps to reproduce the behavior

[code]

**Additional Information**

-   gomock mode (reflect or source):
-   gomock version or git ref:
-   golang version: 1.14

**Triage Notes for the Maint

[2020-07-28 20:15] Warfields commented on #464
Someone posted another bug report at the same time

[2020-07-28 20:21] Warfields commented on #464
Merged into #463

[2020-07-28 20:21] #464 closed

[2020-07-28 20:22] codyoss commented on #463
I would recommend making using of the proxy if your environment allows. It accelerates the module downloads and can protect your builds against cases where hosts are unreliable.

I would use the default setting which is GOPROXY="https://proxy.golang.org,direct".

More details can be found here: https://golang.org/doc/go1.13#modules

[2020-07-28 20:42] codyoss commented on #463
I pushed `v1.4.4` that removes the need for this package.

[2020-07-28 20:42] #463 closed

[2020-07-30 13:29] DuncanGener8 opened #466 "Using mock gRPC with parallel testing"
I'm not really sure if this is a feature request, a bug-report of something else in between, so my apologies if this is not filed correctly.

I've been using this package for mocking out our gRPC end-points in our unit testing, but I've hit a bit of a snag in a new type of test case that I'm attempting to write. The gist of it is as follows:

I'm trying to demonstrate that our method "foo", which

[2020-07-31 16:34] #393 closed

[2020-07-31 16:38] #447 closed

[2020-07-31 16:44] cvgw commented on #454
Apologies if I'm misunderstanding, but couldn't this currently be achieved using a `Do` or `DoAndReturn` call?

IE

[code]

[2020-07-31 16:50] cvgw commented on #466
Apologies if I am misunderstanding;

It sounds like what you want should work today;
`foo.EXPECT().Bar("a", 1).Return("baz")` `foo.EXPECT().Bar("b",2).Return("boom")`

Does that not work for your use case?

[2020-07-31 17:02] cvgw commented on #462
I found the docs to be quite confusing, I'll update them.

Here is an example of how to do both

Say you have `m.EXPECT().SendMessage(gomock.Eq("a"))`

[code]

[2020-07-31 17:10] cvgw commented on #459
Making sure I understand this request;

Your tests require a lot of set up, particularly in the mocking of expectation?
Your tests re-use a lot of the same setup?
You want to use the same mocked expectation between tests by "resetting" (clearing the received calls) the mocks so that the expectations don't have to be set up again?

Apologies if I've misunderstood any part of this.

I suppose my ini

[2020-07-31 18:02] cvgw commented on #244
It was mentioned earlier in the thread that parse mode might be a solution here, but I don't believe it was ever clarified whether it actually works.

Given the following example
[code]
[code]

Which seems to be a bug

[2020-08-03 00:22] bradwilzon commented on #454
Yes, you may be able to. I struggled to find good examples of how to use DoAndReturn() because it's not used very often. This should be considered a convenience method.

In https://github.com/golang/mock/pull/455 I instead addAction().

[2020-08-03 09:03] fanadol commented on #462
Hi @cvgw , i've tried that and it works.

Yes the docs quite confusing, but thanks to your explanation now i understand.

Thanks

[2020-08-04 04:23] kishaningithub commented on #406
We use source mode for interfaces in our repository and reflect mode for interfaces in dependencies.

[2020-08-04 10:28] hardikmodha commented on #459
Thank you @cvgw for the response.

No, I want to reset the expectations + received calls as well. Not sure if it's possible but we also need to make sure that test pollution doesn't happen.

Something like
[code]
and likewise.

Regarding your suggested approach, I can very well do it but the test is a module-level test that sets up the database and runs the application. Calls internal to the modul

[2020-08-04 13:28] #462 closed

[2020-08-12 12:03] tomarrell commented on #459
I would second this. This would be useful to cut down on the setup code between tests which are run as subtests. A pattern which would look something like:

[code]

[2020-08-13 07:30] dennypenta opened #468 "Issue white generating mocks"
*Requested feature*
While I'm generating mocks I'm getting the issue if file has imports with the same ending, for example:
[code]
but there is a different package name, google/log actually has the package name as glog and it compiles well.

*Why the feature is needed*
It doesn't obviously that I have to add the alias to each import

[2020-08-14 20:30] cvgw opened #469 "Improve documentation for `Do` and `DoAndReturn`"
The docs for `Do` and `DoAndReturn` are not as clear as they could be and this has been a source of confusion/github issues.

We should improve the docs for both methods including adding clear examples to the GoDoc

[2020-08-14 21:27] cvgw opened #471 "Improve documentation for GotFormatter WantFormatter"
#462

[2020-08-14 21:33] cvgw commented on #459
@hardikmodha Thanks for the additional clarification. I think I understand your use-case now and why this would be helpful.

Will think on it and chat with the other maintainers.

[2020-08-15 07:03] hardikmodha commented on #223
@jharshman I've opened https://github.com/golang/mock/issues/459 to discuss similar requirements when using go-mock. You can add your valuable inputs there.

[2020-08-16 22:16] codyoss commented on #454
As there is a way to do this already today I would prefer to not expand the API right now. Will will add some docs that better show how to do something like this. Thanks.

[2020-08-16 22:16] #454 closed

[2020-08-16 22:34] codyoss commented on #466
Closing due to lack of response.

[2020-08-16 22:34] #466 closed

[2020-08-17 08:12] DuncanGener8 commented on #466
Hi @cvgw ,

Apologies for the delay in my response, I missed the original notification mail 2 weeks ago.

The method you're describing doesn't seem to work for me. When the two tests run in parallel, it seems like Case 1, which is:
`foo.EXPECT().Bar("a",1).Return("baz")`

Receives a request of the form `b` instead, which causes the tests to bail.

Regards,
Duncan

[2020-08-17 16:17] antcs opened #473 "Missing error checks for os.Setenv in parse_test.go"
**Actual behavior** A clear and concise description of what the bug is.

Currently errors are ignored for calls to `os.Setenv()` in `parse_test.go`. Example: https://github.com/golang/mock/blob/b76a85f0900edc9408b978c2a96b8f81b9a4c919/mockgen/parse_test.go#L198

**Expected behavior** A clear and concise description of what you expected to
happen.

The errors should be checked and reported properly

[2020-08-18 14:16] #473 closed

[2020-08-18 17:44] hardikmodha commented on #459
@cvgw @codyoss Thinking out loud, How about we introduce a new construct `Continue` on the `controller`. It will be almost like `ctrl.Finish` with the following differences.

1. It can be called multiple times from the user code.
2. It will implicitly reset the calls at the end.

Above will ensure that when the user code calls `ctrl.Continue()` all the expectations are checked for and calls are al

[2020-08-19 04:36] hardikmodha commented on #459
@tomarrell What do you think of the proposed solution? In the example you mentioned, We can use `ctrl.Continue()` as follows.

[code]

[2020-08-19 07:30] nekinie commented on #459
Do we need to do anything around passing the sub tests testing.T in?

[2020-08-19 07:43] lassekv commented on #428
I just ran into this issue today as well. This only happens from Go 1.14 and forward when an explicit defer ctrl.Finish() is no longer expected because it is registered through the testing.T interface. If one explicitly does a defer ctrl.Finish() then the panics are not swallowed.

[2020-08-19 13:16] hardikmodha commented on #459
Sorry, Didn't get your comment @nekinie. Can you please elaborate?

[2020-08-20 12:58] nekinie commented on #459
In the above solution, unexpected calls to a mock function within subtest 1 would trigger a failure on "TestSomething" instead of "TestSomething/subtest _1". Could we pass subtest 1's *testing.T into defer ctrl.Continue() so the failures are reported for the correct test?

[2020-08-25 03:12] alvinmatias69 commented on #153
@codyoss for me it's commonly found in legacy apps. Where the function arguments or return type is an anonymous struct

[2020-08-26 06:59] avamingli opened #476 "enable more options in relect mode when using mockgen"
*Requested feature*

Enable more options in relect mode when using mockgen, ex: `-destination`, `-package`.

`mockgen github.com/XXX/mypackage InterfaceA,InterfaceB -destination mocks.go -package mocks`

*Why the feature is needed*

When using reflect mode to gen mock codes, there are no options available such as `-destination`, `-package`.

Though we can use pipe to output the codes to a file, bu

[2020-08-27 06:21] avamingli commented on #476
It seems that I didn't use it correctly.
Move the options before the args and it works.
Close here.

[2020-08-27 06:21] #476 closed

[2020-08-27 17:57] akhiljain23 commented on #416
I am still getting a similar error,
My use case is
`type A interface {
	Binterface
	someFunc(ctx context.Context, limit, skip int, somStr string) (*([]SomeStruct), int, error)
}`
Output on mockgen
`mockgen -source file1.go -destination file1_mock.go  -package pkg1 -aux_files=github.com/something/something=something.go
2020/08/27 23:09:29 Loading input failed: something.go:20:15: failed parsing ret

[2020-08-28 17:12] ebilling opened #477 "support proto.Message in Eq()"
**Actual behavior**
Protobufs generated using google.golang.org/protobuf/cmd/protoc-gen-go are not being reliably matched by the gomock Matcher.

**Expected behavior**
The default matcher for gomock should use the proto.Equal() function when a protobuf is passed as an argument.

**To Reproduce** Steps to reproduce the behavior

1.  Generate protobufs with latest protoc-gen-go from google.golang.or

[2020-08-28 17:43] cvgw commented on #466
@DuncanGener8 I think I may have misunderstood your original use case.

Are you using the same mock across two tests?

IE

[code]

or some variation of that using pkg lvl variable, etc.

[2020-08-28 17:55] cvgw commented on #459
@hardikmodha My understanding (and this may be imperfect as I haven't been involved with the project since it's inception) is that the original design and intention of gomock is to be used within the scope of a single test or subtest.

I don't know every place that this idea is baked into the code, but one example would be the creation of a `Controller` instance using `*testing.T`. If `Controller`

[2020-09-02 19:56] kevindflynn commented on #244
This is also an issue for my team. We have to modify the generated code so that it doesn't import any internal packages whenever we re-generate.

[2020-09-02 19:58] codyoss commented on #468
I just tested the following and it worked fine.

[code]

I ran `go generate`.

Imports from the mock:

[code]

Closing for now, if you can provide a small example I might be able to help more.

[2020-09-02 19:58] #468 closed

[2020-09-02 20:16] codyoss commented on #477
I get the frustration with proto messages, and you are right to use `proto.Equal`. I don't think it is as simple as type checking for a proto.Message though. For instance the following would not be caught

[code]

We could perhaps support just a top level check, doing a bunch of type un-wrapping though sounds like it could get messy.

@cvgw Thoughts?

[2020-09-02 21:06] codyoss commented on #459
For subtests if you do not create a new Controller with the subtest t you will get errors from the `testing` package.

Example:
`gm459.go`
[code]

`gm459_test.go`
[code]

Output:

[code]

[2020-09-03 07:20] powerman commented on #428
This is still quite annoying - test just hangs without any output. @codyoss If you can provide some quick hints about how to implement possible fix then I can try to prepare PR.

In the meanwhile I'd like to share two workarounds:
1. Run `go test -timeout=5s` to work around hang and get some details about which test is broken/panics.
2. Handle panic manually inside tests to actually workaround thi

[2020-09-03 14:05] codyoss commented on #428
@powerman I did open up a PR for this yesterday. You can see the link above your comment 😸 I think that should solve the issue. Check out the PR and let me know if it does not though.

[2020-09-03 17:25] powerman commented on #428
@codyoss Your PR didn't fix the issue. Here is minimal example to reproduce hang:

[code]

[2020-09-03 18:06] codyoss commented on #428
A couple things:

1. Are you trying to make use of #422 on HEAD? If so you actually don't need to call `t.Cleanup(ctrl.Finish)` as this will be done for you. If you remove that line you will see the panic.

2. When using you are using subtests with mocks you should be creating the mock from within the subtest. If you don't the t context is not correct for any calls to the mock.

3. If you want to

[2020-09-03 18:25] powerman commented on #428
Sorry, I'm too sleepy now to answer 1 and 3, but this one surprises me:

I never bother about this and used t.Run a lot without any issues. Moreover, having to define mocks inside t.Run will be incredible inconvenient in a very usual case when we define EXPECT before loop over test cases (e.g. https://github.com/powerman/go-service-goswagger-clean-example/blob/46dc447e66267226c4432a448722ead4b7276

[2020-09-03 20:17] codyoss commented on #428
It is an issue if there are errors. Here is an example:

`gm428.go`
[code]

`gm428_test.go`
[code]

Run tests `go test -v`:
[code]

[2020-09-04 06:48] powerman commented on #428
@codyoss

I don't see how t.Run affect your example:
- if we remove t.Run then it still works the same way (calls t.FailNow or panic on first call to `Baz(mock)` and never reach second call)
- if we move EXCEPT() from within t.Run to before t.Run then it still works the same way (fail on second call)

If I get you right and you wanna continue test to second t.Run even if mock fails in first t.Run

[2020-09-04 07:14] powerman commented on #428
This is a cool feature.

Hmm… I see what you mean, but:
- I don't see how your PR changes this behaviour - 1.4.4 works in same way.
- I suppose there a lot of existing code which already does `t.Cleanup(ctrl.Finish)`, and while you right about this may result in omitting ctrl.Finish() call in case of panic (so we'll lost messages about missing calls to mock in case of panic - which is perfectly fi

[2020-09-08 03:21] hardikmodha commented on #459
Apologies for getting back late. I would circle back to this later today.

[2020-09-11 17:08] cvgw commented on #428
There are many cases where gomock will "work", but because the `Controller` maintains a reference to `*testing.T` it needs to be the instance of `*testing.T` in the current test scope (IE the current subtest). The golang `testing` pkg requires that all operations on the `*testing.T` instance be called on the instance belonging to the current test scope.

The new `t.Cleanup` stuff is a bit unfamili

[2020-09-11 20:46] codyoss commented on #428
As of right now we don't plan to support calling `t.Cleanup` for calling `ctrl.Finish` for the reasons outlined above. I think we have it pretty well documented that calling `ctrl.Finish()` should be deferred.

[2020-09-11 20:46] #428 closed

[2020-09-11 20:46] powerman commented on #428
I agree that **in general case** we need to create controller inside t.Run. But!

t.Run is often used not to run test at different point in time (e.g. because of t.Parallel inside t.Run), but just to **name** subtests executed in a loop on table test cases, within normal test flow - as recommended by https://blog.golang.org/subtests. In this case t.Run never contains full setup both because this i

[2020-09-11 20:53] cvgw commented on #477
@codyoss I would prefer not to add type specific behavior for `proto.Message` (or any other user/community defined type)

`gomock.Eq` ends up calling `reflect.DeepEqual` which I think is totally fair and appropriate for a general equivalency test.

Protos are clearly a popular and common case, but I see no reason why they couldn't fade from popularity and be replaced by something else.

I think a

[2020-09-11 20:55] codyoss commented on #477
Closing. Recommend approach for this is to use a custom matcher.

[2020-09-11 20:55] #477 closed

[2020-09-11 20:56] ebilling commented on #477
Like I said, I built a matcher for myself.  The problem I'm running into is that DeepEqual on a protobuf is causing infinite loops (but not reliably).  I was looking for a way for my fellow engineers to not stumble into this situation.

[2020-09-11 21:06] cvgw commented on #428
@powerman I agree that for a canonical, table-driven golang test there is some unpleasant overhead with gomock.

I typically do what you mentioned and use an anonymous function as my table case EG

[code]

This could definitely be improved and we are happy for suggestions, as long as they are not breaking changes and don't require the use of the `*testing.T` instance from a different test scope.

[2020-09-11 21:11] cvgw commented on #477
@ebilling
I missed the part about it causing infinite loops, can you share more details about that?

I think we probably want to keep type specific matchers out of the core library, but it would be fairly straightforward to host on Github as it's own module if you wanted to share it with other people.

[2020-09-14 09:42] powerman commented on #428
More details and possible fix is in https://github.com/golang/go/issues/41355#issuecomment-691921558

[2020-09-21 06:48] zkuldeep opened #480 "mockgen: "package is not in GOROOT" when generating a mock outside of a module"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.6 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Nothing as such

### What operating system and processor architecture are you using (`go env`)?
GOOS="darwin"

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOPATH="/Users/zo/go"
GOPRIVATE="github.com/Z/*

[2020-09-22 22:11] codyoss commented on #480
Please use the full import path. Something like: `github.com/Z/dlos/internal/service/designpattern`.

[2020-09-23 07:00] zkuldeep commented on #480
Thanks it resolved using fully qualified path. @codyoss & @bcmills

[2020-09-23 07:00] #480 closed

[2020-09-23 15:12] grigoriy-bluego opened #482 "Test_createPackageMap test failing with go1.15"
**Actual behavior**
Test `Test_createPackageMap` fails when run with go1.15. Output:
[code]

**Expected behavior**
When i run tests with go1.14 all tests are passing.

[2020-09-23 15:16] #482 closed

[2020-09-23 15:17] GrigoriyMikhalkin opened #483 "Test_createPackageMap test failing with go1.15"
**Actual behavior**
Test `Test_createPackageMap` fails when run with go1.15. Output:
[code]

**Expected behavior**
When i run tests with go1.14 all tests are passing.

[2020-09-24 13:02] kishaningithub commented on #483
Linking here the [PR](https://github.com/golang/mock/pull/479)

[2020-09-25 10:31] Russiancold opened #484 "Expect any method not called"
Hi! Is there a way to verify that no methods of mock were called?
Smth like: `fooMock.EXPECT().Any().Times(0)`

[2020-09-25 12:22] HelloKuldeep opened #485 "[question] Not able to use generated NewMock with map in a struct, but normally working in struct without map"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.6 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Nothing as such

### What operating system and processor architecture are you using (`go env`)?
GOOS="darwin"

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOPATH="/Users/zo/go"
GOPRIVATE="github.com/Z/*

[2020-09-25 14:37] codyoss commented on #484
Hey thanks for the question. If you have an interface that has two methods `Foo` and `Bar` you would need to have explicit expectation for each of them:

[code]

[2020-09-25 14:37] #484 closed

[2020-09-25 14:41] codyoss commented on #485
Hey,

I am having a hard time understanding the exact problem you are having here. Could you please provide a simple gist showing a minimal reproducer for this?

[2020-09-25 15:12] zkuldeep commented on #485
Hi @codyoss

So, whenever I'm using my mocked interface NewMockXYZ (i.e. here `mockTpl`) in substituting it in struct that has a field of type map[_something_]**That_Interface** it showing error (as mentioned above) but when its used against struct with field of type **That_Interface**, its acceptable which is okay, as per its required behaviour, but I need the case when used with `map`.

[2020-09-25 15:14] HelloKuldeep commented on #485
Hi @codyoss

So, whenever I'm using my mocked interface NewMockXYZ (i.e. here `mockTpl`) in substituting it in struct that has a field of type map[_something_]**That_Interface** it showing error (as mentioned above) but when its used against struct with field of type **That_Interface**, its acceptable which is okay, as per its required behaviour, but I need the case when used with `map`.

[2020-09-25 15:18] Russiancold commented on #484
Can I implement this feature somehow? I believe it could be useful.

[2020-09-25 15:28] codyoss commented on #485
I think I see now. It looks like you are incorrectly instantiating your map by trying to change its type. Something like the following will work:

[code]

[2020-09-25 15:54] HelloKuldeep commented on #485
Thanks I understood this instantiation, but can't we keep this `ServiceMap` generic of any `enum.LP`, something like this -
[code]
I'm asking this since `ServiceMap` is instantiated with mocked interface & during test-run my `enum.LP` has to be decided.
Anyways, thanks for this, I'm managing this this to get before hand.

[2020-09-25 16:19] codyoss commented on #485
Here it is declared the contract for type uses an interface:

[code]

 At runtime you can put mock into the map that satisfies the interface, but you can't change the type.

[code]
 The above is not valid Go code. Here is an example, not using gomock, that shows this. https://play.golang.org/p/1g8VozrhsJm

[2020-09-25 16:19] #485 closed

[2020-09-25 16:33] codyoss commented on #484
As there is already a way to do this today I would lean towards not adding another way. This would require an additional method to be added to every generated MockRecorder.

[2020-09-25 21:47] codyoss commented on #483
This seems to be due to change in go list in 1.15. In older versions of go the command `go list -json context a/bad/path` worked and would return info about context. The same command in 1.15 gives an error:

[code]

Or in the case of something more real looking module: `go list -json context github.com/a/bad/path`

Output:

[code]

In practice this should not be an issue though as the imports been

[2020-09-27 05:08] hardikmodha commented on #459
Hmmm, I got your concern. I tried passing the `t *testing.T` to `Continue` as @nekinie mentioned earlier but that only helped to avoid error from the `testing` package in `Continue` function. But we have `ctrl.T.Errorf` and `ctrl.T.Fatalf` at other places which don't have reference to `t` of subtests and thus `test executed panic(nil) or runtime.Goexit: subtest may have called FailNow on a parent

[2020-09-28 10:50] ymohl-cl opened #487 "Error matcher"
Hello

I would like to be able to test equality on an error but i could not do it with the Eq Matcher or other stuff.
If the error interface is implemented by a custom error, Eq return a Failure case.

[code]

So Eq matcher return fail because BindJson implement error from the primitive type  *json.SyntaxError (verifiable by `fmt.Printf("error source: %s\n", reflect.TypeOf(err).String())`) and i c

[2020-09-29 13:22] glukasiknuro commented on #244
Note that protobuf ApiV2 is using aliases from old api to new api for well known types (e.g. [empty.pb.go](https://github.com/golang/protobuf/blob/91c84e0db17890c2bb64280a6d660e73e4237fd1/ptypes/empty/empty.pb.go#L15)), what changes the code generated by mockgen after upgrading protobuf package but still using the old API. In case of my team it caused some non-obvious strict dependency checks to f

[2020-09-30 21:56] mindaugasrukas opened #489 "Tests are time-outing because of Gomock internal deadlock"
I'm not sure this is a true bug, maybe we just misuse the framework, but I'd like to get the comments on that.

**Actual behavior** A clear and concise description of what the bug is.

Tests are time-outing because of internal deadlock.

**Expected behavior** A clear and concise description of what you expected to
happen.

Tests pass.

**To Reproduce** Steps to reproduce the behavior

This is a si

[2020-10-01 23:36] loducapatricio commented on #282
I'd like to exclude the mock generated files from the final binary because they only have sense on tests context.

@codyoss Should I create a new issue of `Feature request`?

[2020-10-02 14:23] codyoss commented on #282
@loducapatricio This is actually sort-of supported already today with the `copyright_file` flag. Just include a build constraint in the file referenced by that flag.

[2020-10-02 15:09] loducapatricio commented on #282
Yes, I used `copyright_file` as a workaround.

[code]

And then I have a file:

[code]

[2020-10-02 15:37] codyoss commented on #487
Matcher is a public interface so anyone can define their own matchers in their codebases. For this type of Matcher I would recommend defining it in your codebase. Different people might have different ideas of what an equal error is. For instance some people might want errors to be equal if one error [Is](https://pkg.go.dev/errors#Is) another error.

Although in some cases it might make sense to r

[2020-10-02 15:37] #487 closed

[2020-10-02 20:02] codyoss commented on #489
If you re-write your test like the following I was able to get things to work:

[code]

[2020-10-02 21:09] #225 closed

[2020-10-06 02:32] pickfire opened #490 "Installing mockgen does not get added to path"
**Actual behavior** Mockgen was added in `~/src/go/bin/mockgen` by installing it with `GO111MODULE=on go get github.com/golang/mock/mockgen@v1.4.4`, but no warnings were given that `~/src/go/bin` is not part of `PATH` environment variables.

**Expected behavior** A clear and concise warning should be given to users when installing.

**To Reproduce** Steps to reproduce the behavior

1.  `GO111MODUL

[2020-10-06 03:22] codyoss commented on #490
Hey,

All go binaries are by default installed to $GOPATH/bin. It is common practice to add this location to your PATH. It is the responsibility of the user to do so.

There is no warning we could provide in the tooling, but we could add a note to our README. Feel free to open a PR if you are willing.

[2020-10-08 20:51] codyoss commented on #489
Closing as the solution above should fix the issue.

[2020-10-08 20:51] #489 closed

[2020-10-12 13:00] markwaldkat opened #491 "Support -local flag for goimports"
Dear gomock developers,

we started using a master version of gomock in order to benefit from https://github.com/golang/mock/pull/458 and stop the "fix goimports" comments on all of our PRs.

The generated mocks have their imports divided in two blocks. However, we want to run goimports in our repository with the -local flag, see https://github.com/golang/tools/blob/master/cmd/goimports/goimports.

[2020-10-13 03:31] ggarek opened #492 "Feature Request: Assert mocks are not called earlier than expected"
*Requested feature*

Make it possible to assert that mocks were not yet called.

*Why the feature is needed*

It could be the object under test should call dependencies only in response to
external interaction.

Say, you create the object you want to test and inject mocked dependencies. Then
you want to assert that those dependencies were called only after you interacted
with the object. (Put it i

[2020-10-16 17:47] cvgw commented on #492
I'm having some trouble understanding the specific problem this is trying to solve.

In your example test
[code]

I don't understand why it is not sufficient to specify the expected number of calls with `Times`. Whether the error case is 0+1 or N+M shouldn't matter IIUC.

[2020-10-16 17:51] cvgw commented on #491
I think I understand the general issue here; which is how do users pass options to the goimports functionality that gomock executes.... which seems like a massive can of worms 😆

I think this one will need some deliberation and probably successful examples of solving this problem in other tools.

[2020-10-16 17:53] cvgw commented on #491
Adding flags for each goimports option we want to expose seems like a bad idea; would be ongoing maintenance toil.

Finding someway to pass the options through without explicit support for each one would probably be an ideal solution.

[2020-10-22 16:50] nezorflame opened #494 "Unable to generate mocks in reflect mode"
**Actual behavior** _A clear and concise description of what the bug is._

My project uses Go modules, but due to the CI restrictions we also make use of the `vendor` folder.
So, our modules are synced by `go mod tidy && go mod vendor` command.

While using `mockgen` in a `reflect` mode, I'm unable to generate mocks. Can't pinpoint exactly when this became broken as this was working fine before, b

[2020-10-23 20:28] cvgw commented on #424
I think at the moment there isn't a strong need/use for conversion from `types.Type` to `model.Interface`, but I can see how this might be something we explore more in the future.

This seems totally reasonable to me as the existing code for consuming a `model.Package` is mostly separated from the code used to generate a `model.Package`. Open to contributions.

[2020-10-23 21:41] cvgw commented on #494
The error message is due to `github.com/golang/mock/mockgen/model` not being vendored https://github.com/golang/go/issues/41936

I would assume the reason you started seeing it at an indeterminate time has to do with them slowly making modules the default behavior in new versions of golang.

How to fix this is a bit more tricky.

The golang program generated by reflection mode depends on `github.c

[2020-10-23 21:42] cvgw commented on #494
As super hacky work around you can copy the directory `github.com/golang/mock/mockgen/model` into your vendor folder

[2020-10-23 22:02] codyoss commented on #494
I think this is related to recent changes in Go tooling. Adding `--build_flags=--mod=mod` is one workaround. The other would be to include an empty import of that package so it gets pulled it `import _ github.com/golang/mock/mockgen/model`.

[2020-10-27 15:19] nezorflame commented on #494
Thanks!
For now I'll use the proposed workaround with the empty import (and a comment to this issue), but it'd be nice to see this resolved.
Anything I could do to help further?

[2020-10-29 20:23] cvgw commented on #494
I think what needs to happen now is some discussion about how to conceptually solve this problem; any input would be welcome and appreciated.

The basic overview (IIUC @codyoss can correct me) is that during reflection mode we dynamically generate some golang source code for a new main program. This main program, the reflection program, is the heart of what makes reflection mode work.

The source

[2020-11-04 09:01] marten-seemann opened #497 "mockgen generates duplicate implementation for overlapping interfaces in source mode"
**Actual behavior**
Since Go 1.14 embedded interfaces can have overlapping methods, as the `io.Closer` in the following example:

[code]

When generating a mock for `ReadWriteCloser`, the mock implementation will declare `Close() error` twice. The mock therefore fails to compile: `(*MockReadWriteCloser).Close redeclared in this block`

**Expected behavior**
The overlapping method should only be im

[2020-11-04 12:16] marten-seemann opened #499 "inconsistent order of methods on the mock interface between source and reflect mode"
**Actual behavior**
Consider the following interface:

[code]
In source mode `Write()` will come before `Close()`. In reflect mode, `Close()` will come before `Write()`.

While the Go compiler doesn't care about the order, it would be nice if the order was consistent between the two modes (imagine switching from source to reflect mode in a project. It would be nice if you wouldn't have to commit a

[2020-11-08 12:59] ggarek commented on #492
The example is a bit confusing indeed.  It should have had only one call to "dep.DoSomething()", not two.

If there is only one call, then you may want to assert that it happens in the CallDep method, but not, for example, in the constructor.  _(This requirement comes from your design, say, you want to separate creation from initialization for some reason.)_

To check this behavior I need to asser

[2020-11-12 15:42] Tatskaari commented on #406
We've migrated from src to reflection in [Please](https://github.com/thought-machine/please) for a couple of reasons:

1)  Source mode seemed to have a hard time understanding our code structure. We don't set a go path or use modules, we use `-importcfg` to tell go tool compile etc. where to find packages. I'm not convinced this should be a problem though... ideally mockgen could just parse the sr

[2020-11-17 05:50] reversekick commented on #137
Sorry its not clear how the last comment addresses the issue. The last comment seems to reiterate the problem statement again i.e. once EXPECT is defined you cannot change its definition while the ask is to allow change of the definition
e.g.  to test both positive and negative flows of a function I want

// assuming true is the positive case
mockA.EXPECT().Function1().AnyTimes().Return(true)

//

[2020-11-24 09:12] lovung opened #501 "Better output when Unexpected call"
**Requested feature**
- Should have better output when having `Unexpected call`
- Can see the diff between `Got` and `Want` on EXPECT()

**Why the feature is needed**
Currently, I have some output like that. It's hard to see what is wrong.
[code]

**Proposed solution**
 - Using [cmp](https://github.com/google/go-cmp).Diff for output

[2020-12-03 15:26] xuming2699555 opened #502 "support setArg for type map"
hello, i have a problem:
Call.SetArg not support map type,
while map can  be modified in a func, how to mock it in mock call?

[2020-12-04 15:32] kja-jaj opened #503 "I agree that removing write permissions for 'Authenticated Users' from C:\Go\bin shouldn't break anything. For what its worth, I looked at a few other languages to see what they do, and it looks like python 2.7 and Ruby both add folders writable by this group to the system path. Python 3 and Haskell do not, by virtue of installing into subdirectories of C:\Program Files\ when installed for all users, from which they inherit secure permissions."
I agree that removing write permissions for 'Authenticated Users' from C:\Go\bin shouldn't break anything. For what its worth, I looked at a few other languages to see what they do, and it looks like python 2.7 and Ruby both add folders writable by this group to the system path. Python 3 and Haskell do not, by virtue of installing into subdirectories of C:\Program Files\ when installed for all use

[2020-12-10 05:16] hasryan commented on #447
Apologies for commenting on this closed issue. What I am describing is surely categorized as user error, but I suspect it could be impacting others so I wanted to describe my experience.

On a previous project I came to rely on `Finish` being called automatically, but when I took over another project recently I pulled in the most recent tagged version (v1.4.4 as of today) and mistakenly assumed it

[2020-12-10 16:44] codyoss commented on #499
Seems reasonable, thanks for the issue.

[2020-12-10 16:45] codyoss commented on #497
Thanks for the report, I will take a look at your PR today!

[2020-12-10 16:48] codyoss commented on #501
Thanks for the report, closing as a duplicate of #265.

[2020-12-10 16:48] #501 closed

[2020-12-10 16:50] codyoss commented on #502
Hey @xuming2699555  thanks for the report, could you please provide a small code example showing what you are looking for?

[2020-12-10 16:53] codyoss commented on #503
Was this issue meant to be opened here? I am not sure what is being asked. Closing for now, but feel free to reopen and update.

[2020-12-10 16:53] #503 closed

[2020-12-10 20:34] #499 closed

[2020-12-21 06:49] hardikmodha commented on #459
I ended up doing a separate setup and teardown for all the tests and making them run in parallel.

[2020-12-21 06:49] #459 closed

[2020-12-21 22:25] keisar opened #505 "Missing import when -package with same package as the destination"
**Actual behavior**
Assuming we have the following project structure:
* /source/source.go -> package name is "pkg1" (import for this package is "source/pkg1")
* /output/empty.go -> package name is "pkg1"  (import for this package is "output/pkg1")
When running `mockgen -package pkg1 -destination ../output/source_mock.go -source=source.go` the generated mock is created without imports to "source/pk

[2020-12-23 05:06] hitzam commented on #451
@znjuko how to resolve it? i'm facing the same issue.

[2020-12-23 10:12] znjuko commented on #451
@hitzam sup!
i've just updated to newest version of golang via reinstalling it :)

[2020-12-24 15:10] keisar commented on #505
From debugging the test I mentioned above I believe the issue lies [here ](https://github.com/golang/mock/blob/master/mockgen/mockgen.go#L333), it seems `pkg.PkgPath` has the source package path and not the output package path, I'll take a closer look, if anyone can confirm this I will try to submit a fix.

[2020-12-24 16:44] keisar commented on #505
I believe the issue is a combination of two problems:
1. Building `outputPackagePath` ([here](https://github.com/golang/mock/blob/master/mockgen/mockgen.go#L136)) doesn't work for go modules as it relies on SrcDir().
2. [here](https://github.com/golang/mock/blob/master/mockgen/mockgen.go#L333) it should use `outputPackagePath` instead of `pkg.PkgPath` and if `outputPackagePath` is empty we should

[2021-01-13 10:16] montogeek commented on #490
Why?

[2021-01-15 17:12] codyoss commented on #502
Closing due to lack of response, please re-open if you can provide some more information.

[2021-01-15 17:12] #502 closed

[2021-01-15 17:58] codyoss commented on #505
Thanks for filing the issue. Indeed it does seem like there is an issue here. I would need to look a little deeper but I wonder if you can see if the paths match too. Will take a look more later today and reply back.

[2021-01-18 09:43] ahl5esoft opened #509 "Unable to SetArg with chan"
`
type IMQ interface {
	Publish(channel string, message interface{}) error
	Subscribe(channel string, message chan<- string)
}

// Test
mockMQ := mq.NewMockIMQ(ctrl)
message := make(chan string)
mockMQ.EXPECT().Subscribe(
	gomock.Eq("channel"),
	gomock.Any(),
).SetArg(1, message)

// error -> SetArg(1, ...) referring to argument of non-pointer non-interface non-slice type chan<- string
`

[2021-01-19 10:27] maranqz opened #510 "Generation mock from net, unknown embedded interface error"
command `mockgen -source=~/go/go1.15.6/src/net/net.go -destination=test/mock/net/Conn.go --package=mocknet`

**Actual behavior** A clear and concise description of what the bug is.

2021/01/19 13:16:37 Loading input failed: ~/go/go1.15.6/src/net/net.go:397:2: unknown embedded interface error

**Additional Information**

-   gomock mode (reflect or source): source
-   gomock version or git ref:  v1

[2021-01-22 18:01] codyoss commented on #510
I believe this is fixed on HEAD, just not released yet. Could you try installing head and see if it works, it did for me.

Also you can use reflect mode to generate just the interface you want, which would also solve this for you:

`mockgen -destination=mock2/conn.go --package=mocknet net Conn`

Let me know if this does not work and we can re-open.

[2021-01-22 18:01] #510 closed

[2021-01-22 22:18] codyoss commented on #483
Fixed in #512.

[2021-01-22 22:18] #483 closed

[2021-01-26 20:30] maranqz commented on #510
You are right.
However, in generated file  there is code (net "std/net"), which creates problem.
"std/net: package std/net is not in GOROOT (/home/qz/go/go1.15.6/src/std/net)"
The problem disappeared by replacing (net "std/net") with ("net").

[2021-01-28 22:47] #497 closed

[2021-01-30 06:57] ahl5esoft opened #515 "go:generate bug"
[code]
[code]

the `i-subscriber_mock.go`'s code contains references to the same package code `pubsub "my-go/plugin/pubsub"`

[2021-02-01 11:06] jameshalsall opened #516 "1.5.0 release"
Apologies if this is not the right approach for this kind of "issue", but I noticed that the 1.5.0 release is waiting on https://github.com/golang/mock/issues/262 (or at least it's in the 1.5.0 milestone), and it has been about 6-7 months since the last release of this library.

I wonder, is it possible to make a release sooner and defer the above issue to 1.6.0?

[2021-02-02 11:17] Xanvial commented on #283
there's a workaround of adding import to mockgen (or other requirement like model), so it will be added to vendor folder. for example adding this to one of test file
[code]

[2021-02-03 10:30] guoshengcc opened #517 "Loading input failed: loading package failed"
I am use This command `mockgen -source=gomockdemo.go` get a error msg:`Loading input failed: loading package failed`

Then,In same env , use This comand `mockgen -source gomockdemo.go`,It work right. I am delete the '='

**Additional Information**

-   gomock mode (reflect or source): source
-   gomock version or git ref:v1.4.4
-   golang version: 1.15.6

**Triage Notes for the Maintainers**

[2021-02-05 19:03] codyoss commented on #517
Can you please provide a code snippet. I am unable to reproduce this currently.

[2021-02-05 19:10] codyoss commented on #515
Investigating this.

As a workaround, source mode will work: `mockgen -destination i-subscriber_mock.go -package pubsub -source i-subscriber.go`

[2021-02-05 20:20] codyoss commented on #515
I confirmed that the purposed change should fix this.

[2021-02-08 04:27] guoshengcc commented on #517
Hi, this is [my code](https://github.com/guoshengcc/gomockUnitTest).
I tried again and still got the same error.
In the readme file in my project, I provided detailed information, hoping to provide valid content

[2021-02-09 16:02] Botono commented on #181
@codyoss I am currently having trouble making mocks of the Prometheus client package. I am trying to make a mock of the `gauge.go` file. All the files are in `vendor/github.com/prometheus/client_golang/prometheus/`.

`gauge.go`:
[code]
`metric.go`:
[code]
`collector.go`:
[code]

Failed commands:

[code]

Frustratingly, the second command previously gave a different failure message:

[code]

And ad

[2021-02-09 20:27] codyoss commented on #517
I tried running your exact project on windows and macos and was unable to reproduce. This package makes use of Go's flag package so it should be handling both forms just fine. My best guess is it is something related to your shell. Do you use anything non-standard? Do you have problems with other Go programs that use the flag package?

[2021-02-10 09:49] gautamrege commented on #137
@reversekick  The way I solved this was a hint from StackOverflow -
https://stackoverflow.com/questions/51029598/mocking-same-functions-with-different-response-many-times-one-after-the-other-in/51031713

TLDR: Don't use AnyTimes() in EXPECT and make that EXPECT call get discarded after single use.

Use a "prepareTest" function that can be called before the test case to set the EXPECT statement for

[2021-02-11 11:23] cwmos opened #519 "Allow gomock to mock functions, not just interfaces"
*Requested feature*

Currently, if I run mockgen on a file, it only seems to generate mock versions of interfaces. I propose it should also generate  mock versions of functions. So if my file contains a line like

[code]

Then mockgen should be able to generate a mocked instance of that function. So I should be able to write something like:

[code]

*Why the feature is needed*

Sometimes, dependen

[2021-02-16 12:01] ethantsien opened #521 "how to mockgen embedded interface"
File foo.go

[code]

File bar.go

[code]

How to mockgen the file foo.go?

[2021-02-19 22:45] #505 closed

[2021-02-19 22:45] #515 closed

[2021-02-19 22:50] codyoss commented on #519
Hey @cwmos thanks for the request.

Unfortunately I don't know how this could work. Interfaces work because we can provide an alternative implementation to satisfy the interface at test time vs run time. I am sure we could generate a function that matches a signature but your code would still depend on the real function. If a function is complex enough where it needs to be mocked I would say inste

[2021-02-19 22:50] #519 closed

[2021-02-19 23:02] codyoss commented on #521
Hey,

You can use reflect mode to do this easily as it will load the whole package(assumes module example.com/gm521 and code in package gm521):

`mockgen -destination=foo_mock_test.go -package=gm521 example.com/gm521 Foo`

[2021-02-19 23:02] #521 closed

[2021-02-19 23:13] codyoss commented on #516
Sorry for the delay, but here it is! https://github.com/golang/mock/releases/tag/v1.5.0

[2021-02-19 23:13] #516 closed

[2021-02-22 21:58] codyoss commented on #517
Closing due to lack of response. Please feel free to update if there is more to share.

[2021-02-22 21:58] #517 closed

[2021-02-24 11:39] jameshalsall commented on #137
I don't think this is caused by using AnyTimes(), e.g.

My default case, where I create my struct with dependencies for the test
[code]

In my test where I want to change this behaviour to make it return something different:
[code]

What I see:

It seems like this could be solved by adding a function on the generated controllers to clear any expectations?

[2021-02-24 20:57] wafer-bw opened #530 "Previously passing tests now fail if they have missing expected calls. v1.4.4 -> v1.5.0"
**Actual behavior**

Some tests which pass using github.com/golang/mock v1.4.4 now fail when using github.com/golang/mock v1.5.0.
Prior to v1.5.0, missed (uncalled) expected calls to mocked interfaces do not fail tests.
As of v1.5.0 any `mock.EXPECT()` call that is missed now fails the test with a message like:
[code]

**Expected behavior**

Tests which are passing using v1.4.4 or earlier should s

[2021-02-24 22:17] choo-stripe opened #531 "Add ability to override the source-package in mockgen"
*Requested feature* A clear description of the desired feature and an example of
how it would be used.

There should be a way to specify the source-package such that mockgens requiring structs from the source file can succeed outside of a standard go environment.

For example, I should be able to pull a mockgen binary, and in a fresh docker container run:
[code]

Today, that'd fail.

*Why the feat

[2021-02-24 22:19] codyoss commented on #530
Hey @wafer-bw thanks for the report.

In general this sounds like a good thing to me as the test should not pass if there are calls that are expected to be made, but are never actually called. When I wrote a simple example with 1.4.4 it also failed with the same error: "aborting test due to missing call(s)"

[code]

[code]

[2021-02-24 22:28] codyoss commented on #531
Hey @choo-stripe,

I would like to have this issue sit a while for discussion from the community. I know there are other bazel users today and mockgen works for them from what I have heard. I assume this is because their build environment has Go in it. In general I don't think having Go in the environment is a bad thing. mockgen is meant to be a tool to generate mocks so you can write tests agains

[2021-02-24 22:31] #294 closed

[2021-02-24 23:09] wafer-bw commented on #530
I agree it is better this way but it could be considered breaking in a sense. I just wanted to bring attention to the change. Here is a more complete way to reproduce, hopefully this helps!

1. Init a new module
[code]
2. In `go.mod` paste:
[code]
3. Setup an interface to test in a new file `main.go`
[code]
4. Generate mocks:
[code]
5. Make a test in `main_test.go`
[code]
6. Run the test (It shoul

[2021-02-25 01:17] jmillikin-stripe commented on #531
Hi @codyoss,

Thanks for the response! For context, the issue is not with the `go` tool itself, but with the dependency on a `$GOPATH`:
* The standard way to use Go with Bazel is via [rules_go](https://github.com/bazelbuild/rules_go), which makes the Go toolchain part of the Bazel build dependencies. This allows Go itself to be safely and hermetically upgraded.
* Some auxiliary Go tooling assumes

[2021-02-25 08:39] sirkon commented on #403
Is it? Won't compile?

[2021-02-25 09:03] sirkon opened #532 "Reference a call into a variable"
### Requested feature

A function to make a reference of a call into a call variable:

[code]

This func just assigns a call to a call variable.

### Why this feature is needed

In easiest cases `gomock.InOrder` is more than enough to describe an order of calls. But once you spawn a goroutine it becomes a partial one. Consider an scheme where:

Parent thread makes calls calls Ax, spawn goroutines

[2021-02-25 09:07] sirkon commented on #532
BTW, it would be less needed, albeit not totally useless, if `gomock.InOrder` would return its last call as requested in https://github.com/golang/mock/issues/403

[2021-02-25 21:44] aaronjwood commented on #369
I am hitting this as well, I can provide an example of what triggers it. The test:

[code]

The meat:

[code]

The failures:

[code]

[2021-02-25 21:49] codyoss commented on #369
@aaronjwood Would you mind opening a new issue with a simplified reproducer?

[2021-02-25 21:56] aaronjwood opened #533 "Race condition between Call() and addAction"
I am hitting a race in gomock that's very similar to this https://github.com/golang/mock/issues/369

It looks like the main difference is that I'm racing `Call()` with `addAction` where the other issue is racing with `Call` and `Return`. Below is the test/code and the stack trace (had to mask out a few things):

[code]

The meat:

[code]

The failures:

[code]

Go version: `go version go1.15.8 dar

[2021-02-25 22:18] codyoss commented on #530
@wafer-bw Thank you for bring this up. I am going to close this as by design though.

Previously there were some edge cases where some panics were silently being swallowed by gomock. Now they are resurfaced to the user to help provide more details of failures.

[2021-02-25 22:18] #530 closed

[2021-02-25 22:29] #490 closed

[2021-02-25 22:44] #359 closed

[2021-02-26 15:50] xapatjb4 commented on #190
Got the same issue
[code]
Any update?

[2021-02-26 18:52] codyoss commented on #145
I think many of the issues that have been mentioned here are fixed, as long is you constrain your test to a timeout and run with `go test -v`. I am going to close this issue for now and if there are still more cases we can break them out into new individual issues.

[2021-02-26 18:52] #145 closed

[2021-03-02 15:05] hongshaoyang opened #537 "Mockgen should create package names without under_scores"
*Requested feature*

By default, Mockgen creates package names with `mock_` concatenated with the package of the input file.

This goes against guidelines, as documented in https://blog.golang.org/package-names:

And in [Effective Go: MixedCaps](https://golang.org/doc/effective_go#mixed-caps):

*(Optional) Proposed solution*

By default, Mockgen should create package names with **`mock`** concaten

[2021-03-03 20:10] matttproud opened #538 "Targeted Verification Support for Interaction Testing"
*Requested feature*

I am not sure if GoMock supports this natively or not.  If it does, it would be nice if the documentation reflected how to do interaction testing more clearly.  Interaction testing entails validating how a function is called, wherein a test should fail if a function isn’t called the right way.

The idea is that independent of the recorded [expectations](https://pkg.go.dev/gith

[2021-03-04 16:47] codyoss commented on #538
Hey @matttproud,

Thank you for your feature request. To me this sounds a lot like #7 but a different API for the same result, correct me if I am wrong. This sort of thing can sort of be done today, but you would need to explicitly have a `AnyTimes()` expected call for each method that you don't want to "verify". I like personally like this explicitness but I understand the point that you may want

[2021-03-04 19:25] matttproud commented on #538
On a facial look, it does appear similar to #7.  I am not too tied toward any API prescription so long as whatever is used is clear.

I do like explicitness as well personally, but this is not so much for me but rather to present GoMock itself in a technical documentation (cookbook) context at-parity with several other mocking libraries.  Roughly what I think I would expect is that for each call t

[2021-03-05 07:28] learner-raghav commented on #437
Hello!

I am having the exact same issues.
My GOPATH is = "/home/raramuri/go"
My Code is present in = "/home/raramuri/go/Onion_Architecture/store"

I am trying to generate mock for a file inside the store directory.
Please help me understand what i am doing wrong .

[2021-03-05 15:32] codyoss commented on #437
@learner-raghav Would you please open a new issue with a minimal reproducer?

[2021-03-08 15:49] KlausVii commented on #537
Since package names are not camelCased, adding words into them is bit finicky, hence usually trying to keep them one word etc. Using _ is already established in things like package_test, so I don't see any reason to change this.

Besides `-package=` lets you set it whatever you like...

[2021-03-14 07:02] Higan commented on #283
I just encountered exactly the same error message, and it turned out to be an import cycle issue.

[2021-03-17 20:37] ethanpailes opened #541 "Feature Request: allow a mock controller to be re-used"
# Requested Feature

It would be nice to have a way to re-use a mock controller across multiple different tests. Currently, the docs for Controller have this to say on the subject, "Each test should create a new Controller and invoke Finish via defer." and the docs for Finish drive the point home further with "It is not idempotent and therefore can only be invoked once." I have some thoughts on th

[2021-03-18 06:52] asv commented on #438
this patch breaks Bazel based environments.

[2021-03-18 15:08] codyoss commented on #438
@asv Please open a detailed issue with a reproducer.

[2021-03-19 10:05] csvwolf commented on #190
@xapatjb4 The same problem, any good workaround?

[2021-03-19 21:43] cwmos commented on #519
Thanks for your quick reply @codyoss .

I have read your reply several times, but I don't really get it. I agree that the struct you get from a call to NewMockXXX directly satisfies the mocked interface. I also agree that this cannot work for functions. But I think this can be solved by having the struct you get from a call to NewMockXXX have a function that returns the mocked function. I called t

[2021-03-19 22:17] cwmos opened #542 "Allow mocks from several packages in one mock file"
As far as I can see, if you use gomock in reflect mode, all mocked interfaces that end up in one gomock output file, must come from the same package.

I would like it to be possible to mock interfaces from several packages and let them end up in one gomock output file. For example by:

[code]

Why?

Suppose I have a package A that needs mocks of interfaces defined in packages B, C and D.

The way

[2021-03-22 12:46] vvkh opened #545 "Built-in matcher that compares slices of arbitrary elements order"
# Requested feature
It would nice to have built-in matcher that compares slices and returns `true` if slices have same elements in arbitrary order.

# Why the feature is needed
Sometimes code we are testing produces slices with non-determined elements order. For example, when converting map to slice we may end up with many possible orders of elements.
[code]
Some testing frameworks like testify in

[2021-03-22 21:33] codyoss commented on #541
Hey @ethanpailes, I think this issue has been discussed in the past. See #459.

[2021-03-22 21:43] codyoss commented on #542
Hey, thanks for the feature request. I will leave this issue open for a while to see if there is interest for this feature by other users of the library. I personally like the multiple files today as each external library dependency each have their own separate dependencies. I also think that using the CLI commands would become harder to read. I typically put my `mockgen` statements as `go generat

[2021-03-22 21:48] codyoss commented on #545
Hey, thanks for the feature request. I will let this issue sit for a little bit to see what others in the community think of the idea. I could see how a matcher like this could be useful.

[2021-03-23 12:40] ethanpailes commented on #541
@codyoss that thread does seem like it is discussing exactly my pain point, sorry I missed it when searching the issue tracker.

It seems like that thread ended up closing due to issues with the proposed `Continue` interface. In addition to the issues raised in that thread, I see another issue which is that there is no way to allow parallel tests making use of that interface since they may interle

[2021-03-25 19:29] codyoss commented on #519
If you don't have an interface how would you switch out your function at test time vs run time? Here are a few different patterns I have seen people use for mocking functions:

[code]

[2021-03-25 20:06] codyoss commented on #533
@aaronjwood  Can you distill this down to a simpler test case? There are too many gaps for me to understand exactly what is going on here and where the problem might be.

[2021-03-25 20:11] codyoss commented on #492
Closing this issue for now. Like cvgw I am a little confused what is being asked here. If you can provide more info and a modified example feel free to reopen.

[2021-03-25 20:11] #492 closed

[2021-03-25 20:17] codyoss commented on #537
I think the underscore notation is okay for mock. As @KlausVii points out you can change the default with a flag. I personally always manually specify the package flag. Every project is a little different and I don't think there is a good "one" solution here. Closing since this is overridable.

[2021-03-25 20:17] #537 closed

[2021-03-25 20:26] codyoss commented on #531
Why can you not specify with GOPATH where your sources are? I feel like this could work?

@linzhp I know you have talked about using bazel and mockgen in the past. Do you have thoughts here?

[2021-03-25 20:42] cwmos commented on #519
Thank @codyoss for clarifying your point! I think you give several examples on how test code can inject an alternative implementation of a function. My request is to allow gomock to provide the implementation of that function during testing.

Let me try to explain my use case by a complete example. Suppose I have production code where reading the current time is injected as a dependency:

[code]

[2021-03-25 21:16] codyoss commented on #519
Yes that does. I was not thinking of the function as a type but just a package function. But I still do disagree and think it is still best to use an interface in these cases. You can look to the standard library and find single method interfaces. They are not frowned upon but encouraged! They allow great extensibility when writing code.

- [Reader](https://pkg.go.dev/io#Reader)
- [Closer](https:/

[2021-03-26 09:34] linzhp commented on #531
@codyoss Thanks for tagging me. Yes! I have some thoughts.

I can give some context here. Before #420, mockgen used `golang.org/x/tools/go/packages.Load`, which calls `go list`, to determine the the package path given a source file. `go list` requires a `GOPATH` with a full transitive closure of dependencies, which is very I/O expensive to populate from scratch. When running outside Bazel, there i

[2021-03-26 23:47] linzhp commented on #531
To the point of

You can do this without writing a Bazel rule on your own. For example:

[code]

Note that the example use reflective mode of mockgen, because the generated source file in `go_proto_library` is not visible

[2021-04-03 06:49] sodul opened #548 "race condition on go.mod with parallel mockgen calls"
We have a sizable monorepo and as part of our CI pipeline we run mockgen on all our targets.

Because this takes significant time we have been doing it in parallel and call 4 mockgen processes in parallel for over 100 targets.
With mockgen 1.4.4 and Go 1.15 we never had any issues. When we upgraded to Go 1.16 we ran into this error almost consistently:
[code]

After upgrading to mockgen 1.5.0 the

[2021-04-06 16:39] sodul commented on #548
We were able to reproduce the `go.mod file not found` error while running mockgen sequentially, after only 50 calls. Since we have over 200 mock files to call it seems to be more sensitive than I first assumed, and I do not have any explanation about a race condition anymore. This seems to be completely internal to mockgen.

[2021-04-08 04:23] sodul commented on #548
A bit of an update. We confirmed that the issue was caused by calling mockgen in parallel where the sources and generated mock files overlap. Which mean that at some point one mockgen process is reading a mock file while it is being rewritten.
The fix to not run mockgen within that same target group seems to work and we have not seen the issue since we made the changes.

[2021-04-08 04:23] #548 closed

[2021-04-08 14:36] marigs commented on #533
I have the same problem. Easy way to reproduce it:

main.go:
[code]

main_test.go:
[code]

my real code does not run `m.EXPECT()` in separated gorutines and I am not able to reproduce this bug with simple code when `m.EXPECT()` is run in the same gorutine. But in both cases top of stack traces are **exactly** the same:

[code]

[2021-04-08 19:50] vvkh commented on #545
Hey @codyoss.  I've provided [draft implementation](https://github.com/golang/mock/pull/546) for requested issue. Could you please take a look?

[2021-04-09 08:16] pfx546746447 opened #549 "mockgen：Loading input failed: Source directory is outside GOPATH"
-   gomock mode (reflect or source): source
-   gomock version or git ref: v1.5
-   golang version: 1.16.2

[2021-04-09 15:16] codyoss commented on #549
Can you please provide some more info to help debug:

1) A small code sample of what you are trying to mock.
2) The exact command you are using to generate the mock.
3) Where you are running that command in relation to the code?

Usually this error means you should just run mockgen from a different directory.

[2021-04-09 15:25] pfx546746447 commented on #549
today i'm on the company computer has this issue,but the computer at home is normal just now.
I will try to reinstall it on the company computer,thx

[2021-04-11 06:47] aaronjwood commented on #533
Is it right to say that gomock isn't thread safe at all? I took a quick look at call.go and saw no protection anywhere. Even the counters are not using CAS logic. Are users of this lib expected to handle safety around the various calls themselves?

[2021-04-16 19:53] codyoss commented on #549
Closing for now, feel free to reopen if it is still happening and you can provide more details.

[2021-04-16 19:53] #549 closed

[2021-04-16 20:17] codyoss commented on #533
There is mutex guarding with the controller. In general expects should be done in the main test goroutine but the mock can be passed around.

If I modify the example listed by marigs you can see this working:

[code]

[2021-04-16 21:06] codyoss commented on #531
#547 should help with this issue.

[2021-04-16 21:06] #531 closed

[2021-04-20 04:33] venkatzgithub opened #550 "Loading input failed: source directory is outside GOPATH"
can not use mockgen command.

[2021-04-20 15:01] codyoss commented on #550
Please provide the following information:

1. Go version
2. mockgen version
3. A smaller reporducer
4. Commands run.

[2021-04-21 18:04] sima-sigsci opened #551 "mockgen is importing an internal grpc package file"
mockgen is generating a mocked file with an `google.golang.org/grpc/internal/status` import which results in an “Use of internal package is not allowed” err

Expected behavior is to gen a file with `google.golang.org/grpc/status` import

this issue started happening when
google.golang.org/protobuf was updated to 1.26.0
google.golang.org/grpc package was updated to 1.37.0
golang/mock was updated to

[2021-04-23 19:57] codyoss commented on #551
Hey, thanks for the report. This looks like a duplicate of #244.
To workaround this for now I would suggest using source mode. Closing.

[2021-04-23 19:57] #551 closed

[2021-04-23 19:59] codyoss commented on #550
Closing for now as this issue is not actionable. Please feel free to reopen if you can provide more details.

[2021-04-23 19:59] #550 closed

[2021-04-23 20:48] codyoss commented on #533
Closing this issue for now. I believe everything should work as expected with proper usage. It might be good to open up an issue and document how asynchronous code should be tested/mocked though.

[2021-04-23 20:48] #533 closed

[2021-04-23 20:50] codyoss commented on #360
Closing this issue for now. May open up individual issues in the future is automation is need for each specific usecase.

[2021-04-23 20:50] #360 closed

[2021-04-23 20:53] codyoss commented on #373
Closing this issue for now. There are open issues around performance. If we see some issues arise in the future will re-evaluate.

[2021-04-23 20:53] #373 closed

[2021-04-25 08:09] valters commented on #494
One of the problems is that the error message is so cryptic and unergonomic, it is impossible to figure out _why_ this is happening. And the reason _why_ (as comments above explain) is that that the `mockgen/model` directory never was vendored in the first place.

My workaround (strangely enough) was to remove the whole `vendor` directory, and this allows mockgen to work.

[2021-04-25 08:44] valters commented on #283
Please also see fixes and workarounds in #494

[2021-04-26 21:52] sima-sigsci commented on #551
thanks for the note @codyoss
we need to mockgen based on a set of go files as not all defs are in one go file in our project.
is there a way to source from a list of go files?

[2021-04-29 22:03] sima-sigsci opened #553 "mockgen mocking server instance incorrectly where we get Cannot use type *MockCorpServiceServer as type v0.CorpServiceServer"
**Actual behavior**
with the latest protoc-gen-go-grpc, to fix the MustEmbedUnimplemented*** we need to add v0.UnimplementedCorpServiceServer to the server struct.
Once we add that to the server provider, mockgen generates a server interface including `mustEmbedUnimplementedCorpServiceServer()` method but mocked NewMockCorpServiceServer which returns a  MockCorpServiceServer lacks that method.
so

[2021-04-30 02:25] sima-sigsci commented on #553
found a work around by adding this flag to protoc cmds
`protoc --go-grpc_out=require_unimplemented_servers`

[2021-04-30 02:25] #553 closed

[2021-05-12 15:05] rogpeppe opened #554 "mockgen: record invocation arguments in generated code"
It's not always obvious how `mockgen`-generated code has been created,
particularly when coming to it without prior knowledge of it. Good practice
would be to include a `go:generate` directive that can be used to regenerate
the code, but that's not always done.

Currently the comments on the generated code look something like this:

[code]

I propose something along the lines of this:

[code]

[2021-05-13 11:53] fmyxyz opened #555 "the func `gomock.Eq` not support func type param"
**Actual behavior**
out:
[code]
**Expected behavior**
no errors

**To Reproduce**

1.  code:
[code]

**Additional Information**

-   gomock mode (reflect or source):
-   gomock version or git ref:v1.5.0
-   golang version:1.16

**Triage Notes for the Maintainers**

**suggest**

[code]
or in eqMatcher judge type of `x` if it is func do:
[code]

[2021-05-14 15:30] codyoss commented on #555
I believe this is a duplicate of #324. I will close this issue in favor of that one. If this is something you are interested in I would gladly accept a PR :)

[2021-05-14 15:30] #555 closed

[2021-05-14 15:39] codyoss commented on #554
Hey, thanks for the feature request, I like this idea! I think it would also be useful to record what version of mockgen generated the mock as well.

I would be happy to accept a PR for such a feature 😃

[2021-05-14 15:43] codyoss commented on #542
At this time I don't think we will be moving forward with this request. Besides other comments from above there would be no good way to specify flags for each separate mock. I suggest using multiple `go:generate` directives.

[2021-05-14 15:43] #542 closed

[2021-05-14 15:47] codyoss commented on #7
I am closing this issue in favor of #538. Future discussion on this topic will happen on that issue.

[2021-05-14 15:47] #7 closed

[2021-05-14 15:54] codyoss commented on #491
At this time we will not allow passing through extra flags for goimports. mockgen already has many flags of its own and we would like to avoid adding more where possible. It is reasonable it you have a different standard for imports that you can adjust the style post generation.

[2021-05-14 15:54] #491 closed

[2021-05-14 19:07] #71 closed

[2021-05-14 21:23] #190 closed

[2021-05-14 22:27] codyoss commented on #494
After looking more into this issue I am not sure there is too much we can do about this. For now I will treat this as a documentation issue and add some notes in the readme.

[2021-05-18 07:25] vvkh commented on #545
Implemented in https://github.com/golang/mock/pull/546

[2021-05-18 07:25] #545 closed

[2021-05-20 06:50] liufangwai opened #560 "The package “github.com/golang/mock/sample/mock_user” is a mock file, This package shouldn't be calculated coverage."
**Actual behavior** A clear and concise description of what the bug is.
The package “github.com/golang/mock/sample/mock_user” is a mock file, This package shouldn't be calculated coverage. When I run "go test -coverpkg=./...  github.com/golang/mock/sample --coverprofile=cover.out", this package will be calculated coverage and as uncovered

**Expected behavior** A clear and concise description of w

[2021-05-20 10:45] jmaeso opened #561 "Panic on array parsing if length is externally defined"
**Actual behavior**

generating code for the following interface makes the tool to panic.

(Note: math constant used just for convenience. Can be any other package-defined constant, not a hardcoded value)
[code]
Output: `panic: interface conversion: ast.Expr is *ast.SelectorExpr, not *ast.BasicLit`

**Expected behavior**

Generate a mocked struct with a method that takes a `[127]string{}` (or `[ma

[2021-05-28 10:25] caskey commented on #494
If documentation is the solution you could add a pointer to the readme in the error as this is a known problem and the error message printed is a dead end for the user.

[2021-06-02 05:21] kulti opened #563 "How about to add an official mockgen docker image?"
*Requested feature*
I'd like to generate mocks using docker image like this `docker run -v $(PWD):/app golang/mock mockgen -destination=mock_db_test.go -package=app_test . UsersDB`.

*Why the feature is needed*
Different environments can have different versions of mockgen. It will be better to generate mocks via docker image.

*(Optional) Proposed solution*
This repo already uses goreleaser. So it

[2021-06-03 19:28] codyoss commented on #560
Hey, although I too generate my mocks as test files I do not think everyone does and it is valid to generate them as a non-test. I will take a look at this example when I have time though. I am not worried that this counts against coverage though as it is just a sample.

[2021-06-03 19:38] codyoss commented on #561
Thanks for the report. It looks like more work needs to be done onto the changes that were made in #520. I think those changes assume that the const is defined locally. I would be willing to accept a PR for this issue.

[2021-06-03 19:43] codyoss commented on #563
Hey thanks for the request. At this time I do not think that publishing a Docker image with just mockgen would provide enough value. If you have a CI system that is based on Docker I would recommend that it download one of the published binaries that we provide with our releases. [Example](https://github.com/golang/mock/releases/tag/v1.5.0).

[2021-06-03 19:43] #563 closed

[2021-06-03 19:56] kulti commented on #563
Thank you for your suggestion. Code is generated by developers, not in CI. Configuring multiple environments with different OS and users' preferences is not a simple task :)

I understand your point. For me, the docker image with mockgen has enough value. We have our own docker registry. I write Dockerfile and use docker image locally.

[2021-06-04 15:32] motemen opened #565 "Bad formatted message when fmt-verbs included"
**Actual behavior** A clear and concise description of what the bug is.

With test code with gomock like below:

[code]

We get:

[code]

Having `%!s(MISSING)` unintendedly.

**Expected behavior** A clear and concise description of what you expected to
happen.

We sholud get:

[code]

**To Reproduce** Steps to reproduce the behavior

1.  Clone https://github.com/motemen/example-gomock-ill-formatte

[2021-06-04 15:34] codyoss commented on #565
@motemen Thanks!

[2021-06-04 15:37] codyoss commented on #565
Fixed by #564

[2021-06-04 15:37] #565 closed

[2021-06-04 19:31] #560 closed

[2021-06-04 21:04] codyoss commented on #494
@caskey That is a great idea, done!

[2021-06-04 21:06] #494 closed

[2021-06-10 20:54] codyoss commented on #291
This looks to have been fixed by #460. Closing

[2021-06-10 21:13] codyoss commented on #265
I think this is less of a problem with some more recent changes: #559 and #236.
We are not pretty printing but we now show types when there is an error and there are options to format got/want. I will leave this open for a little longer to see if there are issues these two are not solving for people. If you have use cases that are still hard to debug please post a full example in this issue so the

[2021-06-11 20:27] #561 closed

[2021-06-11 22:18] iamhopaul123 opened #571 "Breaking change introduced in #558"
**Actual behavior** A clear and concise description of what the bug is.

After #558, it forces a check for the number of argument for `Do` function. However, it doesn't work for variadic params. For example we have
[code]
and in the unit test we check
[code]
simply there's no way for us to use `Do` to validate one of the variadic param we pass.

**Additional Information**

-   gomock mode (reflect

[2021-06-12 02:03] codyoss commented on #571
Thank you for the report. Will get a hot fix out for this sometime this weekend hopefully. If this is affecting you please continue to use 1.5 for now. Sorry for the inconvenience!

[2021-06-13 18:54] sryoya opened #575 "Support array parsing with length using binary expression and parenthesis"
*Requested feature*
`Mockgen` should be able to parse an array using a binary expression or parenthesis in its length. They are not parsed correctly yet.
e.g. `[1 + 2]int`, `[(2)]int`

*Why the feature is needed*
As they are available expressions in the Go specifications, `Mockgen` should be able to handle them.

*(Optional) Proposed solution* A clear description of a proposed method for
More work

[2021-06-13 18:59] sryoya commented on #575
@codyoss I already have the fix ready in my local. As soon as you give me the go-ahead, I can get you a PR 👋

[2021-06-14 16:03] codyoss commented on #571
Just got a chance to looks at this a little more. Although this is a behavior change and validation is more strict I think this better aligns with what the original intention for Do was. The func passed into do should have the same signature as the function being mocked. In the example provided the code could be refactored to:

[code]

This should make the validation pass and now the signature exa

[2021-06-14 16:29] efekarakus commented on #571
Thanks for the reply @codyoss !
I think that makes sense, we can definitely refactor the tests if needed to continue receiving updates for the library. We haven't seen other scenarios that caused regressions.
However, it is a bit inconvenient. I'm not familiar enough with the `reflect` pkg but if there is a way to limit the number of args validation up to varargs that would be backwards-compatible

[2021-06-14 17:21] codyoss commented on #571
@efekarakus There is a way to check for variadic functions, yes. There could be special validation on if a function is variadic to do just a little to no validation but I am unclear if this is the best decision to move forward with. I think I would rather lean toward the mock code being written being more correct from the onset. This also keeps the semantics of the func passed to `Do` the same as

[2021-06-14 18:00] efekarakus commented on #571
Sounds good! We fixed it from our end :)

[2021-06-25 07:28] frankli-hub opened #578 "mockgen err :Loading input failed: source directory is outside GOPATH"
go version go1.16.4 darwin/amd64
mockgen v1.6.0

go env
[code]

hm.go
[code]

mockgen -source=./hm.go

[code]

[2021-06-29 19:51] codyoss commented on #571
Closing this issue as by design, please see my comments above.

[2021-06-29 19:51] #571 closed

[2021-07-02 01:08] zachwalton commented on #324
Hope it's ok to post a workaround; have been dealing with this for a while for variadic option functions and finally found a workable solution.

@MattNolf extending your test:

https://github.com/zachwalton/gomock-test/commit/04033d4265da8cc0d4acfb1c2307963b511916c2

You can build a custom matcher that:

1. Defines the expected function
2. Intercepts & casts the argument
3. Compares the 2 function

[2021-07-05 20:37] steven-eckhoff opened #579 "time.Time type value passed to Call.Return differs from value returned"
`time.Time` type value passed to `Call.Return` differs from value returned by the mocked interface.

I would expect the `time.Time` value passed to `Call.Return` to match exactly to the value returned by the mocked interface.

**To Reproduce** Steps to reproduce the behavior

1.  run mockgen on source file
2. write test and do something like
[code]
3. Then on the next EXPECT call use the same `tra

[2021-07-06 14:44] #579 closed

[2021-07-07 15:29] iurydias commented on #190
Same issue here :( Not matching equivalent values with different types

[2021-07-07 15:33] codyoss commented on #190
@iurydias Are you using `v1.6.0`? If so this should be fixed.

[2021-07-07 15:36] iurydias commented on #190
`v1.3.1`
I just resolved forcing type declaration to param like int64(var).. I will update the version anyway...

[2021-07-08 14:36] atombender commented on #340
I'd like to see this reopened. I have a file like this:

[code]

For some reason, `mockgen -source myfile.go Scheduler` generates a `MockOption` even though it's not used and should not have a mock interface generated for it.

[2021-07-08 16:36] codyoss commented on #340
@atombender Please see my previous comment on using reflect mode, example: `mockgen -destination mypackage_mock_test.go -package mypackage example.com/mypackage Scheduler`

Source mode will generate mocks for all interfaces in the file.

[2021-07-08 16:37] atombender commented on #340
Yes, the issue still stands for source mode.

[2021-07-08 16:39] atombender commented on #340
Perhaps for now it could simply do something like:

[code]

It would save people like me from wasting a lot of time googling for solutions.

[2021-07-08 16:44] codyoss commented on #340
mockgen does not check to see if things are used, it just generates. I think this is explained in the [README](https://github.com/golang/mock#running-mockgen) the difference in behavior -- generating whole file vs a single interface. If you believe this could be explained better please open up a new issue with suggestions on how we could update some documentation.

[2021-07-08 18:03] atombender commented on #340
This isn't explained in the readme at all, from what I can tell. And running this:

[code]

does not complain, even though apparently the extra argument is just ignored (or is equivalent to `Foo=Foo`). It's surprising that the two modes should behave so differently.

[2021-07-17 20:25] n1lesh commented on #554
@codyoss Would you be able to review the PR (#574)  I've submitted for this issue?

[2021-07-19 20:34] robsonpeixoto commented on #427
@codyoss maybe [minimock](https://github.com/gojuno/minimock) is a good inspiration.

[2021-08-03 14:48] alabbas-ali commented on #231
@therealdannzor how did you solve it. Could you please share a step solution. As i don't really have much knowledge with go

[2021-09-01 08:35] snargleplax opened #584 "Automatic call to Controller.Finish breaks "stub" style tests that worked on prior version"
# Actual behavior
Test that passed on previous minor version 1.5.0 fails with errors about missing expected calls.

# Expected behavior
Tests that passed on previous minor version pass on 1.6.0 without code changes.

# To Reproduce

1.  Write a test that uses gomock and sets an expectation on some mock, but omits a call to `Controller.Finish`
2.  Run the test against gomock 1.6.0

# Additional Inf

[2021-09-07 15:31] TheZeroSlave opened #587 "Source mode works not correct with different local import aliasing"
**Actual behavior**
Generate mock for interface having embedded interface from another package leads to
`Loading input failed: /Users/desotnikov/go/src/reproduceMockErr/package1/stub.go:6:13: failed parsing returns: /Users/.../go/src/reproduceMockErr/package1/stub.go:6:16: unknown package "model`

**Expected behavior**
No error occured

**To Reproduce**
the following structure of project causes er

[2021-09-09 03:58] anceneorg commented on #578
try this command `mockgen -source=hm.go`

[2021-09-17 06:56] lovung opened #588 "Support Map in SetArg"
*Requested feature*
- Like this PR https://github.com/golang/mock/pull/98, I hope you can support to SetArg for the Map.

*Why the feature is needed*
- In the most case, Golang use Map as an argument of the function, not pointer of Map. But inside the function, we can still Add/Delete entry in this map, but can not initial if the input map is nil. So, we need to check if this Argument is nil or no

[2021-09-17 14:41] codyoss commented on #578
Sorry for being slow to respond here but I think the comment above should fix this. Closing for now, feel free to reopen if you are still having issues.

[2021-09-17 14:41] #578 closed

[2021-09-17 15:19] MakDon opened #590 "proposal: Add a new matcher which return true if it matches one of given value"
### Requested feature

A `In([]T)` matcher which returns true if it matches one of the given value.

For Example:
[code]

### Why the feature is needed

With this matcher, we could cover the scenes where the args could be one of the options and make the `EXPECT()` assertion more reusable.

### Proposed solution

When `Matches()` is called, it generates `Eq` Matchers from the given slice, and check

[2021-09-17 15:25] codyoss commented on #584
Hey @snargleplax thank you for providing a detailed report. This was really helpful in understanding your use-case. I am sorry this change seemed to break some of your existing workflows.

I think this is kind of a case of [Hyrum's Law](https://www.hyrumslaw.com/). The intended behavior of using this library has always been that the user should be calling ctrl.Finish(), as without it nothing is ve

[2021-09-21 02:50] snargleplax commented on #584
Thank you @codyoss, I certainly see where you're coming from and am happy to provide input on an approach for supporting verification-free usage more directly.

Since there are potentially other implementations that would provide the behavior I'm after, and since #238 as written is for a general mechanism that would include unspecified other options, I'll write it up as a new issue for the sake of

[2021-09-21 02:50] #584 closed

[2021-09-21 03:40] snargleplax opened #591 "Make verification of mocked calls optional"
## Requested feature
Ability to disable the automatic call to `Controller.Finish`, such that the test does not fail if expected mocked calls are not made.

## Why the feature is needed
Reinstate (and make explicit/official) support for "stub" style tests that use the mock framework to stub out interactions with collaborators, but where verifying the occurrence of those calls is out of the test's i